<form>
  <section class="outpost-container">
    <section class="phase-container">
      <fieldset class="button-group">
        <legend>
          Phases
        </legend>
        {{#each phases as |phase|}}
          <span class="">
            <input
              class="hidden-input"
              type="radio"
              name="{{@key}}"
              id="{{@key}}"
              value="{{@key}}"
              data-change-action="changePhase"
              {{ternary (eq @root.currentPhase @key) "checked" ""}}
            />
            <label for="{{@key}}">
              {{phase.name}}
            </label>
          </span>
        {{/each}}
      </fieldset>
    </section>
    {{#each outposts as |outpost|}}
      <section class="individual-outpost" id="{{@key}}" data-id="{{@key}}">
        <div class="form-group">
          <input
            type="text"
            name="{{@key}}.name"
            id="{{@key}}-name"
            data-change-action="changeName"
            value="{{outpost.name}}"
          />
        </div>
        <header>
          <label for="pointPool" class="point-pool-label">
            Point Pool
            <input
              type="number"
              name="pointPool"
              id="pointPool"
              min="0"
              max="9"
              value="{{outpost.pointPool}}"
              disabled
              class="{{ternary (eq outpost.pointPool 0) "empty" ""}}"
            />
          </label>
          <div class="station-wrapper">
            {{#if outpost.linkedActorSheet}}
              <button
                type="button"
                data-click-action="openSheet"
                data-actor-id="{{outpost.linkedActorSheet.id}}"
              >
                Open
                "
                {{outpost.linkedActorSheet.name}}
                "
                Sheet
              </button>
            {{/if}}
            <button type="button" data-click-action="linkSheet">
              {{ternary outpost.linkedActorSheet "Change" "Link"}}
              Actor Sheet
            </button>
          </div>
        </header>
        {{! Rating Values}}
        <details
          data-id="{{@key}}RatingCollapsible"
          data-toggle-action="saveState"
          {{ternary
            (lookup @root.collapsibleStates (concat @key "RatingCollapsible"))
            "open"
            ""
          }}
        >
          <summary>
            ✨Ratings
            <ul>
              {{#each outpost.ratings as |rating|}}
                <li title="{{rating.name}}">
                  {{lookup @root.ratingIcons @key}}
                  {{rating.value}}
                </li>
              {{/each}}
            </ul>
          </summary>
          <section class="ratings-wrapper">
            {{#each outpost.ratings as |rating|}}
              <div
                class="rating-container"
                data-tooltip="{{lookup
                    (lookup @root.ratingDescriptions @key)
                    "description"
                  }}"
              >
                <div
                  class="wrapper"
                  data-name="{{outpost.name}}.ratings.{{@key}}"
                  data-pool-name="{{outpost.name}}.pointPool"
                >
                  <label
                    for="{{@key}}"
                    class="rating-label"
                    data-click-action="changeRating"
                    data-name="{{@key}}"
                    data-type="rating"
                  >
                    {{rating.name}}
                  </label>
                  <input
                    data-name="{{@key}}"
                    class="rating displayNumber"
                    type="number"
                    name="{{@key}}"
                    id="{{@key}}"
                    min="0"
                    max="9"
                    value="{{rating.value}}"
                    disabled
                    data-change-action="changePool"
                  />
                </div>
                <div
                  class="points-display"
                  data-click-action="changeRating"
                  data-name="{{@key}}"
                  data-type="rating"
                >
                  <div class="underlay">
                    {{#times 9}}
                      <span class="point"></span>
                    {{/times}}
                  </div>
                  <div class="fill">
                    {{#times rating.value}}
                      <span class="point"></span>
                    {{/times}}
                  </div>
                </div>
                {{! This is the button for the ActionPhase }}
                <div class="button-wrapper">
                  <button
                    type="button"
                    class="roll-rating"
                    data-click-action="rollRating"
                    data-minimum="1"
                    {{ternary
                      (eq @root.currentPhase "actionPhase")
                      ""
                      "disabled"
                    }}
                    {{ternary (lt rating.value 3) "disabled" ""}}
                  >
                    <i class="fas fa-level-up"></i>
                  </button>
                  {{! This is the button for the ReactionPhase }}
                  <button
                    type="button"
                    class="roll-rating"
                    data-click-action="rollRating"
                    data-minimum="1"
                    {{ternary
                      (eq @root.currentPhase "reactionPhase")
                      ""
                      "disabled"
                    }}
                  >
                    <i class="fas fa-shield-alt"></i>
                  </button>
                </div>
              </div>
            {{/each}}
            <button
              type="button"
              data-click-action="rollEach"
              data-type="rating"
              {{ternary (eq @root.currentPhase "eventPhase") "disabled" ""}}
            >
              Roll All Ratings
            </button>
          </section>
        </details>
        {{! Consequence Clocks }}
        <details
          data-id="{{@key}}clockCollapsible"
          data-toggle-action="saveState"
          {{ternary
            (lookup @root.collapsibleStates (concat @key "clockCollapsible"))
            "open"
            ""
          }}
        >
          <summary>
            ⏳ Consequence Clocks
            <ul>
              {{#each outpost.consequenceClocks as |clock|}}
                <li title="{{clock.name}}">
                  {{clock.symbol}}
                  {{clock.value}}
                </li>
              {{/each}}
            </ul>
          </summary>
          <section class="clocks-wrapper ratings-wrapper">
            {{#each outpost.consequenceClocks as |clock|}}
              <section class="clock-container rating-container">
                <div class="consequence-clock wrapper">
                  <label
                    for="{{@key}}"
                    class="clock-label"
                    data-click-action="changeRating"
                    data-name="{{@key}}"
                    data-type="clock"
                  >
                    {{clock.name}}
                  </label>
                  <input
                    data-name="{{@key}}"
                    class="clock-rating rating displayNumber"
                    type="number"
                    name="{{@key}}"
                    id="{{@key}}"
                    min="0"
                    max="9"
                    value="{{clock.value}}"
                    disabled
                  />
                </div>
                <div
                  class="points-display"
                  data-click-action="changeRating"
                  data-name="{{@key}}"
                  data-type="clock"
                >
                  <div class="underlay">
                    {{#times 9}}
                      <span class="point point-symbol">
                        {{clock.symbol}}
                      </span>
                    {{/times}}
                  </div>
                  <div class="fill">
                    {{#times clock.value}}
                      <span class="point point-symbol">
                        {{clock.symbol}}
                      </span>
                    {{/times}}
                  </div>
                </div>
              </section>
            {{/each}}
            <button
              type="button"
              data-click-action="rollEach"
              data-type="clock"
              {{ternary (eq @root.currentPhase "eventPhase") "" "disabled"}}
            >
              Roll All Consequences
            </button>
          </section>
        </details>
      </section>
    {{/each}}
  </section>
</form>
