<form>
  <section class="outpost-container">
    {{#each outposts as |outpost|}}
      <section class="individual-outpost" id="{{outpost.name}}">
        <h2>
          {{outpost.name}}
        </h2>
        <label for="pointPool">
          Point Pool
          <input
            type="number"
            name="pointPool"
            id="pointPool"
            min="0"
            max="9"
            value="{{outpost.pointPool}}"
            disabled
          />
        </label>
        <section class="ratings-wrapper">
          {{#each outpost.ratings as |rating|}}
            <label for="{{@key}}" class="rating-label flex-1">
              <div
                class="wrapper"
                data-name="{{outpost.name}}.ratings.{{@key}}"
                data-pool-name="{{outpost.name}}.pointPool"
              >
                <input
                  data-name="{{@key}}"
                  class="rating displayNumber"
                  type="number"
                  name="{{@key}}"
                  id="{{@key}}"
                  min="0"
                  max="9"
                  value="{{rating.value}}"
                  disabled
                  data-change-action="changePool"
                />
                <button
                  type="button"
                  class="rating-button"
                  data-click-action="changeRating"
                  data-name="{{@key}}"
                >
                  {{rating.name}}
                </button>
              </div>
              <button type="button" data-click-action="rollOne">
                Roll
              </button>
            </label>
          {{/each}}
          <button type="button" data-click-action="rollEach">
            Roll Each
          </button>
        </section>
        <section>
          <h3>
            Consequence Clocks
          </h3>
          {{! <p> }}
          {{!-- {{@root.clocks.instructions}} --}}
          {{! </p> }}
          <section class="clock-wrapper">
            {{#each @root.clocks.clocks as |clock|}}
              <div>
                <p>
                  {{@key}}
                </p>
              </div>
            {{/each}}
          </section>
        </section>
      </section>
    {{/each}}
  </section>
</form>
