#inner-scene-display {
    width: 60vw;
    max-width: 60vw;
    height: 50vh;
    max-height: 50vh;
    .button-group {
        display: flex;
        // flex-direction: column;
        padding: 0.5rem 1rem;
        background-color: var(--tui-black4);
        width: fit-content;
    }

    .window-content {
        background-color: hsla(223, 8%, 17%, 0.5);
        border: hsla(0, 0%, 28%, 0.5);
        @supports (backdrop-filter: blur(8px)) {
            backdrop-filter: blur(8px);
        }
    }
    &,
    & *:not(button, image, li, input, label, select, option, .window-content, .window-header, hr, fieldset) {
        background-color: transparent;
    }

    &.transparent,
    &.transparent *:not(.window-header, button, image, li, input, label, select, option, hr, fieldset) {
        background: none;
        background-color: transparent;
        box-shadow: none;
        pointer-events: none;
        overflow: visible;
        .window-header {
            pointer-events: auto;
        }
        .window-content {
            overflow: visible;
            background-color: transparent;
            background: none;
            width: fit-content;
            // background-color: hsla(0, 0%, 80%, 0.5);
            // border: hsla(0, 0%, 98%, 0.5);
            backdrop-filter: unset;
        }
        .button-group {
            background-color: hsla(223, 8%, 17%, 0.5);
            border: hsla(0, 0%, 28%, 0.5);
        }
    }
    &.transparent {
        width: fit-content;
    }
    & *:is(button, image, li, input, label, select, option) {
        pointer-events: auto;
    }
}
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.tag-chip {
    display: inline-flex;
    padding: 0.15rem 0.55rem;
    width: fit-content;
}

.display-bar {
    display: flex;
    flex-wrap: wrap;
    background: none;
    background-color: transparent;

    li.character,
    li.innerScene {
        list-style-type: none;
        max-width: 3rem;
        max-height: 3rem;
        aspect-ratio: 1/1;
        transition: transform 150ms ease-in;
        &:hover {
            z-index: 10;
        }

        .hover-controls {
            z-index: 800;
            li {
                z-index: 900;
            }
            button {
                z-index: 900;
            }
        }
        //for making a border effect on the clip-path
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 3px);
            height: calc(100% + 3px);
            background-color: var(--clr-blue-base);
            clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
            filter: drop-shadow(0 0 0.75rem rgb(49, 40, 85));
        }
    }
    .character-group {
        display: flex;
    }
    .scene-group {
        display: flex;
        flex-direction: column;
    }
}

.editModeWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .innerScene {
        background: var(--innerSceneBackground);
        background-position: cover;
    }
    // .innerScene[data-image-path]:before {
    //     position: absolute;
    //     content: attr(data-image-path);
    //     width: 100%;
    //     height: 100%;
    //     background-position: cover;
    // }
}

li {
    position: relative;
    &:hover {
        .hover-controls {
            opacity: 100%;
            transform: scale(1);
        }
    }
    .hover-controls {
        position: absolute;

        padding: 0;
        margin: 0;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        opacity: 0%;
        transform: scale(0);
        transition-delay: 100ms;
        transition: transform 150ms ease-in, opacity 150ms ease-in;
        &:hover {
            opacity: 100%;
            transform: scale(1);
            transition-delay: 150ms;
            transition: transform 150ms ease-out, opacity 150ms ease-out;
        }
        li,
        button {
            aspect-ratio: unset;
            display: flex;
            width: fit-content;
        }
    }
}
.character-group,
.scene-group {
    gap: 0.5rem;
}

.characterOptions,
.addedToScene,
.innerScenes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .option {
        display: grid;
        grid-template-columns: minmax(20px, 2rem) 1fr;
        grid-template-rows: 100%;
        align-items: center;
        overflow: hidden;
        // max-width: 20%;
        max-height: 50px;
        padding-right: 0.5rem;
        img {
            grid-column: 1/2;
            // max-width: 20%;
            object-fit: cover;
            height: 100%;
        }
        p {
            margin: 0;
            grid-column: 2/3;
        }
    }
}

.character-scene-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    position: relative;
    overflow-y: auto;
    &.compact {
        justify-content: flex-start;
        gap: 0rem;
    }

    /** change this */
    fieldset {
        display: flex;
        // justify-content: space-evenly;
    }

    .character-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 10rem);
        gap: 1rem;
    }

    .button-wrapper {
        display: flex;
        margin-left: auto;
        gap: 1rem;
    }

    .views,
    .interactions {
        display: flex;
    }

    .chip {
        input[type="radio"],
        input[type="checkbox"] {
            display: none;
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;

            & ~ label {
                /* background-color: transparent; */
                border: 1px solid cornflowerblue !important;
                /* color: cornflowerblue; */
                padding: 0.5em 1em;
                text-align: center;
                border-radius: 9999px;
                z-index: 10;
                display: inline-block;
                vertical-align: middle;
                display: flex;
                align-items: center;
                gap: 0.45rem;

                &:hover {
                    cursor: pointer;
                }
            }

            &:checked ~ label {
                background-color: cornflowerblue;
                color: white;
                font-weight: bold;
            }
        }
    }
}
