.character-scene-display {
	position: relative;
	overflow-y: auto;
	min-height: 20vh;

	.button-wrapper {
		display: flex;
	}

	.views,
	.interactions {
		display: flex;
	}

	.chip {

		input[type="radio"],
		input[type="checkbox"] {
			display: none;
			position: absolute;
			overflow: hidden;
			clip: rect(0 0 0 0);
			height: 1px;
			width: 1px;
			margin: -1px;
			padding: 0;
			border: 0;

			&~label {
				/* background-color: transparent; */
				border: 1px solid cornflowerblue !important;
				/* color: cornflowerblue; */
				padding: 0.5em 1em;
				text-align: center;
				border-radius: 9999px;
				z-index: 10;
				display: inline-block;
				vertical-align: middle;
				display: flex;
				align-items: center;
				gap: 0.45rem;

				&:hover {
					cursor: pointer;
				}
			}

			&:checked~label {
				background-color: cornflowerblue;
				color: white;
				font-weight: bold;
			}
		}

	}
}

#character-profile-config {
	max-width: 30vw;
}

.actor-section {

	&.character {
		position: relative;

		.full-profile {
			// min-height: 50%;
			padding: clamp(1rem, 1rem + 1vh, 2rem);
			pointer-events: none;
			background-color: $jet-3;
			position: absolute;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			opacity: 0;
			border-radius: 5px;
			border: 2px solid double;
			box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

			>img {
				max-width: 50%;
				grid-column: 1/2;
				grid-row: 1/4;
			}

			>h3 {
				grid-column: 2/3;
				grid-row: 1/2;
			}

			>p {
				grid-column: 2/3;
				grid-row: 2/4;
			}
		}
	}

	&:hover {
		cursor: pointer;
		background-color: $jet-3;

		.full-profile {
			opacity: 100;
			pointer-events: auto;
		}

	}

	background-color: $eerie-black;
	max-width: 100%;
	padding: clamp(0.25rem, 1vw + 0.5rem, 1rem);
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	align-items: center;
	transition: background-color 100ms ease-in-out;

	.actor-icon {
		max-height: 3rem;
	}
}

.actor-list {
	position: absolute;
	overflow: scroll;
	max-height: 45vh;

}