#clock-display,
#clock-display>.window-content,
#clock-display .window-content>form {
	background-color: transparent;
}

#clock-display .window-content>form>section {
	background-color: rgba(19, 22, 26, 0.603);
}

#clock-display,
.app-child {
	box-sizing: border-box;
	max-height: 50vh;
	font-size: 10px;
	width: max-content !important;
	width: -moz-max-content !important;
	height: 50vh;
	position: fixed;
	top: 50vh !important;
	transform: translateX(-100%);
	transition: transform 0.25s cubic-bezier(0.4, 0.0, 1, 1);

	&.no-transition * {
		transition: none !important;
	}



	@import '_chip_checkbox.scss';

	.window-header {
		display: none;
	}

	&.expanded {
		transform: translateX(0%);
		transition: transform 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
	}

	.window-content,
	.clock-container {
		.glass {
			background-color: $glass;
			border-top: 2px solid $glass-rim;
			border-right: 1.5px solid $glass-rim;
			border-bottom: 1px solid rgba($glass-rim, 0.25);
			border-left: 1px solid rgba($glass-rim, 0.25);
			border-radius: 5px;

			&__btn {
				background-color: transparent;
			}
		}

		border-radius: 0 10px 10px 0;
		overflow-x: visible;
		overflow-y: visible;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		flex-wrap: wrap;
		background-color: $glass;
		border-top: 1px solid $glass-rim;
		border-right: 1px solid $glass-rim;
		min-height: 10em;
		position: relative;
		width: fit-content;
		transition: width 0.2s ease;

		@supports((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
			-webkit-backdrop-filter: blur(1.25px);
			backdrop-filter: blur(1.25px);
		}

		.categoryFilter {
			display: flex;

			input {
				+label {
					margin-left: 0.25rem;
				}
			}

			margin-bottom: 0.5rem;
		}

		.clockCategory__wrapper {
			display: flex;
			// grid-template-columns: auto auto auto;
			max-height: 40vh;

			.clockCategory {
				// padding: 0.5rem 0.5rem 0.5rem 0.5rem;
				min-height: 380px;
				width: fit-content;
				max-height: inherit;

				display: flex;
				border-radius: 0;

				+.clockCategory {
					// padding-left: 0.5rem;
					margin-left: 0.25rem;
					// border-left: 1px solid rgba(255, 255, 255, 0.486);
				}

				&:first-child {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}

				&:last-child {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}

				&__inner {
					padding: 0.5rem 0rem;
					// transform: scale(1, 1);
					transform: translate(0px, 0px);
					transition: transform 0.5s ease-out;
					position: inherit;
					overflow: hidden;
					display: grid;
					grid-auto-flow: column;
					grid-template-rows: repeat(3, min-content);
					min-width: 160px; //todo: maybe don't use pixel values
					max-height: inherit;
					transition: max-width 250ms cubic-bezier(0.4, 0.0, 0.2, 1), min-width 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

					&.no-transition {
						transition: none;
					}

					&.is-hidden {
						max-width: 0;
						min-width: 0;
					}

					&.is-visible {
						max-width: var(--expanded, 70px);
						min-width: var(--expanded, 70px);
					}

					.addClock.actionButton {
						justify-self: center;
						width: 4rem;
						height: 4rem;
						font-size: 2rem;
						border: 2px solid $glass-rim;
						@import 'tooltip';
					}

					&.hidden {
						position: absolute;
						transform: translate(-999px, 0px);
						// width: 0;
						// height: 0;
						transition: transform 0.5s ease-out;
						overflow: hidden;

						* {
							// transform: scale(0);
							// width: 0% !important;
							// height: 0% !important;
							// transition: transform 0.5s ease-out;
						}

						// overflow: hidden;
						// transition: width 0.5s ease-out;
						// transition: height 0.5s ease-out;
						// display: none;
					}



				}

				&__btn {
					width: 2rem;
					@import 'tooltip';
					position: relative;
					transition: all 100ms ease-out;
					display: flex;
					align-items: center;
					justify-content: center;
					color: black;
					padding: 0;

					&.open {
						color: $intellect;
					}

					.accordionBtn__text {
						display: block;
						transform: rotate(270deg);
						width: 1.5rem;
						height: fit-content;
						text-align: center;
						transform: origin(0 0);
						text-transform: uppercase;
						white-space: nowrap;
					}

					&.collapsed {
						position: relative;


						span {
							display: block;
							transform: rotate(270deg);
							width: 1.5rem;
							height: fit-content;
							text-align: center;
							transform: origin(0 0);
							text-transform: uppercase;
							white-space: nowrap;
						}

						width: 100%;
						height: 100%;
						transition: width 0.5s ease-out;
						transition: height 0.5s ease-out;
					}

					&:hover {
						color: $intellect;
						box-shadow: $shadow;
						// background: darken($glass, 10%);
					}

					&__title {
						font-weight: bold;
						font-size: 1.5em;
					}
				}
			}
		}

		.clockName {
			flex: 0;
		}

		form.clockApp {
			// padding: 0.25rem;
			padding: 0.25em 0.5em;
			border-radius: 5px;

			&:hover {
				// outline: 1px solid navy;
				outline: 1px solid #4776E6;
				background-clip: content-box;
				cursor: pointer;

				* {

					color: #4776E6;
				}
			}
		}

		position: relative;

		.showClocks {
			position: absolute;
			right: -4.7rem;
			// right: ;
			top: 45%;
			border-radius: 5px 5px 0 0;
			font-size: 1.12rem;
			white-space: nowrap;
			width: min-content;
			text-align: left;
			background-color: none;
			transform: rotate(90deg);
			text-orientation: mixed;
			text-align: center;
			border: 1px solid rgba(255, 255, 255, 0.5);
			// box-shadow: var(--shadow-elevation-high);



			&:hover {
				background-color: #4776E6;
			}
		}


		.contentWrapper {
			display: grid;
			width: min-content;
			grid-template-columns: min-content;
			grid-template-rows: 0.5em 1fr max-content;

			.frameWrapper,
			.clockWrapper {
				width: min-content;
				grid-row: 2;
				grid-column: 1;
			}
		}



		.headerWrapper {
			display: flex;
			flex: content;
			justify-content: space-between;
			align-items: flex-start;
			margin: 0.15em 0.25em;

			h3 {
				white-space: nowrap;
			}

		}

		.waypointWrapper {
			// grid-column: 1;
			// grid-row: 1;
			display: flex;
			z-index: 20;
			justify-content: space-around;

			.waypoint {
				// border-right: 3px solid black;
				width: 5em;
				text-align: right;

				&Label {
					position: relative;
					transform: translateX(-5px);
					padding-right: 0.5em;

					&::after {
						content: '';
						position: absolute;
						border-top: 7px solid #f5f5f576;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						bottom: 0;
						transform: translateX(5px);
					}
				}
			}
		}

		.breakLabelWrapper {
			grid-column: 1;
			grid-row: 3;
			padding-top: 0.5em;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			text-align: center;

			.breakLabel {
				width: 5em;
				max-width: 5em;
				// min-width: 5em;
				// max-width: 5em;
				overflow: hidden;
				overflow-wrap: break-word;
			}
		}

		.frameWrapper {
			display: flex;
			flex-direction: row;
			border-radius: 15px;
			overflow: hidden;
			position: relative;
			pointer-events: none;
			z-index: 10;

			.frameSection {
				width: 5em;
				height: 5em;
				background-color: transparent;
				position: relative;
				box-shadow: 0px -7px 0px 1px $black2, 0px 7px 0px 1px $black2, 0px 0px 0px 5px $black2;
				border-radius: 5px;
				margin-right: 5px;

				&:last-child {
					box-shadow: 0px -7px 0px 1px $black2, 0px 7px 0px 1px $black2;
					margin-right: 0;
				}

			}
		}

		.clockWrapper {
			display: flex;
			flex-direction: row;
			border-radius: 15px;
			overflow: hidden;
			position: relative;
			background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
			// background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 100%);
			background-position: right;
			box-shadow: rgb(50 50 93 / 25%) 1px -11px 19px 0px inset, rgb(0 0 0 / 30%) -2px 8px 13px 0px inset;




			.innerWrapper {
				display: flex;
				flex-direction: row;

				+.innerWrapper {
					margin: 1em;
				}
			}

		}

		.clockSection {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			cursor: pointer;
			width: 5em;
			height: 5em;
			background-color: #b9a9a9;
			mix-blend-mode: multiply;
			box-shadow: rgb(50 50 93 / 25%) 0px -20px 19px 0px inset, rgb(0 0 0 / 30%) -2px 8px 13px 0px inset;
			// box-shadow: #1719214d 3px 3px 6px 0px inset, rgb(60 60 73 / 32%) -3px -3px 6px 1px inset;
			// hsl(230deg 17% 11%) 3px 3px 6px 0px inset, hsl(240deg 10% 26% / 60%) -3px -3px 6px 1px inset;
			// background-color: #2c2e2f;
			// box-shadow: rgb(29, 29, 29) 3px 3px 6px 0px inset, rgba(92, 92, 92, 0.5) -3px -3px 6px 1px inset;

			&[data-break] {
				position: relative;
				margin-right: 5px;

				&:last-child {
					margin-right: 0;
				}
			}

			.label {
				color: white;
				font-weight: bold;
				z-index: 200;
			}

			&.filled {
				box-shadow: none;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
				// box-shadow: rgb(50 50 93 / 25%) 0px 20px 20px -20px, rgb(0 0 0 / 30%) 1px 20px 20px 0px, rgb(10 37 64 / 35%) -5px -6px 6px 2px inset;
				background-color: white;
				mix-blend-mode: multiply;

				.label {
					color: black;
				}

				&:hover {
					background-position: right center;
					/* change the direction of the change here */
					color: #fff;
					text-decoration: none;
				}
			}



		}

	}
}



.app-child {
	display: block;
	position: absolute;
	z-index: -10;
	top: 10% !important;
	transform: translateX(0);
	right: 0;

	&.expanded {
		transform: translateX(100%);
	}

	.clock-container {
		// box-shadow: var(--shadow-elevation-high);
		box-shadow: $shadow;
	}
}

.window-app {
	&.sheet {
		&.minimized {
			.app-child {
				display: none;
				// min-height: max-content;
				// top: 0;
				// padding: 0.1rem;

			}
		}
	}
}