.clockHud {


	width: max-content !important;
	width: -moz-max-content !important;
	height: max-content !important;
	height: -moz-max-content !important;

	.window-content {

		display: flex;
		flex-direction: column;
		justify-content: stretch;

		.clockName {
			flex: 0;
		}

		.contentWrapper {
			display: grid;
			width: max-content;
			grid-template-columns: max-content;
			grid-template-rows: 2rem 1fr max-content;

			.frameWrapper,
			.clockWrapper {
				grid-row: 2;
				grid-column: 1;
			}
		}



		.headerWrapper {
			display: flex;
			flex: content;
			justify-content: space-between;
			align-items: flex-start;
			margin: 0.5rem 0.5rem;

			h3 {
				white-space: nowrap;
			}

			[data-action] {
				.tooltip {
					display: none;
					position: absolute;
					min-width: 20ch;
					background-color: rgba(0, 9, 0, 0.75);
					border-radius: 10px;
					margin-left: 28px;
					/* moves the tooltip to the right */
					margin-top: 15px;
					/* moves it down */
					z-index: 1000;
				}

				&:hover {
					.tooltip {
						display: block;
					}
				}
			}

			.delete {
				width: 20%;
				color: rgb(168, 43, 43);
				font-weight: bold;
			}

			.share {
				width: 20%;

				&.active {
					background-color: purple;
					box-shadow: inset 0 0 10px rgba(37, 37, 37, 0.731);
				}

				// position: relative;
				// display: inline-block;
				// width: 60px;
				// height: 34px;

				// input {
				// 	opacity: 0;
				// 	width: 0;
				// 	height: 0;

				// 	&:checked {
				// 		+.slider {
				// 			background-color: #2196F3;

				// 			&:before {
				// 				-webkit-transform: translateX(26px);
				// 				-ms-transform: translateX(26px);
				// 				transform: translateX(26px);
				// 			}
				// 		}
				// 	}

				// }

				// .slider {
				// 	position: absolute;
				// 	cursor: pointer;
				// 	top: 0;
				// 	left: 0;
				// 	right: 0;
				// 	bottom: 0;
				// 	background-color: #ccc;
				// 	-webkit-transition: .4s;
				// 	transition: .4s;

				// 	&.round {
				// 		border-radius: 34px;

				// 		&:before {
				// 			border-radius: 50%;
				// 		}
				// 	}

				// 	&:before {
				// 		position: absolute;
				// 		content: "";
				// 		height: 26px;
				// 		width: 26px;
				// 		left: 4px;
				// 		bottom: 4px;
				// 		background-color: white;
				// 		-webkit-transition: .4s;
				// 		transition: .4s;
				// 	}
				// }
			}

			.clone,
			.changeColor {
				width: 20%;

			}
		}

		.waypointWrapper {
			// grid-column: 1;
			// grid-row: 1;
			display: flex;
			z-index: 20;
			justify-content: space-around;

			.waypoint {
				// border-right: 3px solid black;
				width: 5rem;
				text-align: right;

				&Label {
					position: relative;
					transform: translateX(-10px);
					padding-right: 0.5rem;

					&::after {
						content: '';
						position: absolute;
						border-top: 7px solid #f5f5f576;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						bottom: 0;
						transform: translateX(10px);
					}
				}
			}
		}

		.breakLabelWrapper {
			grid-column: 1;
			grid-row: 3;
			padding-top: 0.5rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			text-align: center;

			.breakLabel {
				width: 5rem;
				// min-width: 5rem;
				// max-width: 5rem;
				overflow: hidden;
				overflow-wrap: break-word;
			}
		}

		.frameWrapper {
			display: flex;
			flex-direction: row;
			border-radius: 15px;
			overflow: hidden;
			position: relative;
			pointer-events: none;
			z-index: 10;

			.frameSection {
				width: 5rem;
				height: 5rem;
				background-color: transparent;
				position: relative;
				box-shadow: 0px -14px 0px 2px $black2, 0px 14px 0px 2px $black2, 0px 0px 0px 10px $black2;
				border-radius: 10px;
				margin-right: 10px;

				&:last-child {
					box-shadow: 0px -14px 0px 2px $black2, 0px 14px 0px 2px $black2;
					margin-right: 0;
				}

			}
		}

		.clockWrapper {
			display: flex;
			flex-direction: row;
			border-radius: 15px;
			overflow: hidden;
			position: relative;
			background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
			// background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 100%);
			background-position: right;




			.innerWrapper {
				display: flex;
				flex-direction: row;

				+.innerWrapper {
					margin: 1rem;
				}
			}

		}

		.clockSection {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			cursor: pointer;
			width: 5rem;
			height: 5rem;
			background-color: #202028;
			box-shadow: hsl(230deg 17% 11%) 3px 3px 6px 0px inset, hsl(240deg 10% 26% / 60%) -3px -3px 6px 1px inset;
			// background-color: #2c2e2f;
			// box-shadow: rgb(29, 29, 29) 3px 3px 6px 0px inset, rgba(92, 92, 92, 0.5) -3px -3px 6px 1px inset;

			&[data-break] {
				position: relative;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}

			.label {
				color: white;
				font-weight: bold;
				z-index: 200;
			}

			&.filled {
				box-shadow: none;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
				// box-shadow: rgb(50 50 93 / 25%) 0px 20px 20px -20px, rgb(0 0 0 / 30%) 1px 20px 20px 0px, rgb(10 37 64 / 35%) -5px -6px 6px 2px inset;
				background-color: white;
				mix-blend-mode: multiply;

				.label {
					color: black;
				}

				&:hover {
					background-position: right center;
					/* change the direction of the change here */
					color: #fff;
					text-decoration: none;
				}
			}



			.edit {
				position: absolute;
				width: 1rem !important;
				height: 1rem !important;
				display: none;
				background-color: transparent;
				background: none;
			}

			// &:hover {
			// 	.edit {
			// 		display: block;
			// 	}
			// }
		}

		.entityLinkWrapper {
			display: flex;
			flex-wrap: wrap;
			max-width: fit-content;
			max-width: -moz-fit-content;

			.entityLink {
				flex: 0;
			}
		}
	}
}