#combatHud {
	width: fit-content !important;
	width: -moz-max-content !important;
	height: fit-content !important;
	height: -moz-max-content !important;
	background: transparent;
	position: relative;

	// width: 252.375px;
	// height: 226px;
	// bottom: 10px !important;
	// left: 810px !important;
	// top: inherit !important;
	.addCombatant {
		position: absolute;
		top: 2.5rem;
		right: 2rem;
		width: 2rem;
		height: 2rem;
		background-color: var(--color-primary-base);


		&:hover {
			background-color: var(--color-primary-400);
		}
	}

	.combat-controls {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.button {
			width: fit-content;
			height: fit-content;
			padding: 0.25rem 0.5rem;

			&:hover {
				background-color: var(--color-primary-base);
			}
		}

		.turnButton {
			width: 2rem;
		}
	}

	.turnButtonWrapper {
		display: flex;
		justify-content: space-between;

		button {
			width: fit-content;
		}
	}


	.tooltip {
		pointer-events: none;
		// display: none;
		opacity: 0;
		width: 200px;
		position: absolute;
		z-index: 10;
		background-color: #161a1db7;
		left: -200px;
		padding: 0.5rem;
		border-radius: 5px;
		transition-property: opacity;
		transition-duration: 0.3s;

	}



	.phaseName {
		&.enemies {
			color: rgb(255, 66, 123);
		}

		&.npcAllies {
			color: hsla(152, 100%, 50%, 1)
		}

		&.slowPlayers {
			color: hsl(197, 100%, 64%);
		}

		&.fastPlayers {
			color: hsla(16, 100%, 76%, 1);
		}
	}

	&:hover {

		.tooltip {
			// display: block;
			opacity: 100%;

		}
	}

	h1,
	h2 {
		font-size: 1rem;
	}

	.window-header {
		background-color: transparent;
		// display: none;
	}

	.window-content {
		background-color: #161a1da9;
		overflow-y: visible;
		overflow-x: visible;
		transition-property: background-color;
		transition-duration: 0.3s;

		&:hover {
			background-color: #161a1dda;
		}

		button {}
	}

	.combatant-wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		border-radius: 10px;
		box-shadow: rgb(0 0 0 / 45%) 1px 1px 19px 6px inset;
		overflow: hidden;
		background-color: #2c2e2f;
		margin: 0.5rem;




		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		.combatant-div {
			position: relative;
			color: black;
			font-weight: bold;
			// border: 1px solid black;
			max-width: 70px;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: hsla(33, 100%, 53%, 1);
			background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
			background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
			background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
			box-shadow: rgb(50 50 93 / 58%) 0px 20px 100px -20px, rgb(0 0 0 / 54%) 0px 30px 60px -30px, rgb(33 60 95 / 79%) 0px -4px 12px 1px inset;

			&[data-phase="enemies"] {
				background: hsla(333, 100%, 53%, 1);
				background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
				background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
			}

			&[data-phase="slowPlayers"] {
				background: hsla(339, 100%, 55%, 1);
				background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsl(197, 100%, 64%) 100%);
				background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
			}

			&[data-phase="fastPlayers"] {
				background: hsla(16, 100%, 76%, 1);
				background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
				background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
			}

			&[data-phase="npcAllies"] {
				background: hsla(152, 100%, 50%, 1);
				background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
				background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
			}

			img {
				width: 3rem;
				height: 3rem;
			}

			.not-in-scene {
				&__indicator {
					color: white;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0;
					margin: 0;
					position: absolute;
					top: 5px;
					right: 5px;
					width: 1rem;
					border-radius: 50%;
					background-color: transparent;
					background: none;
					opacity: 70%;

					i {
						padding: 0;
						margin: 0;
					}
				}

				&__message {
					display: none;
					position: absolute;
					bottom: 100%;
					left: 0;
					background-color: #161a1db7;
					z-index: 10;

					~.not-in-scene__indicator:hover {
						display: block;
					}
				}
			}

			&.activated {
				filter: grayscale(0.5);
				position: relative;

				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.25);
				}

				box-shadow: rgba(21, 21, 39, 0.705) 3px 3px 6px 0px inset,
				rgba(0, 9, 0, 0.5) -3px -3px 6px 1px inset;
			}

			@include ba(after, 100%, 100%, 0, 0, 1) {
				opacity: 0;
				background-color: white;
				mix-blend-mode: overlay;
				transition: opacity 100ms linear;
			}

			&:hover {
				cursor: pointer;
				// background: #09F;
				color: white;
				// overflow: visible;

				&:after {
					opacity: 1;
					// background: white;
					// mix-blend-mode: screen;
				}

				.not-in-scene__message {
					display: block;
				}
			}
		}
	}

}