#hud-button-config {
    height: fit-content !important;
    .inner-content {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        gap: 0.75rem;
    }
    .instructions {
        span {
            color: var(--color-accent-base);
        }
    }
    form {
        gap: 1rem;
    }
    .form-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end; //remember, because of row-reverse, flex-end and flex-start are also reversed
        align-items: center;
        &.checkbox-or-radio-wrapper {
            margin-left: 2rem;
            gap: 1.5rem;
            input {
                flex: unset;
                flex-grow: 0;
            }
            label {
                flex-grow: 1;
            }
        }
        &.reversed {
            flex-direction: row;
        }
        select,
        input {
            flex: 2;
            &:disabled {
                opacity: 50%;
                &:hover {
                    cursor: not-allowed;
                }
                & ~ label {
                    opacity: 50%;
                }
            }
        }
    }

    .chip {
        input[type="radio"],
        input[type="checkbox"] {
            display: none;
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;

            & ~ label {
                /* background-color: transparent; */
                border: 1px solid cornflowerblue !important;
                /* color: cornflowerblue; */
                padding: 0.5em 1em;
                text-align: center;
                border-radius: 9999px;
                z-index: 10;
                display: inline-block;
                vertical-align: middle;
                display: flex;
                align-items: center;
                gap: 0.45rem;

                &:hover {
                    cursor: pointer;
                }
            }

            &:checked ~ label {
                background-color: cornflowerblue;
                color: white;
                font-weight: bold;
            }
        }
    }
}
#helperHud {
    // top: 500px !important;
    // left: 10px !important;

    width: max-content !important;
    height: max-content !important;
    button {
        aspect-ratio: 1/1;
    }
    img {
        // width: 3rem;
        max-width: 3rem;
        filter: drop-shadow(2px 4px 6px black);
        transition: filter 150ms ease-in;
    }
    .holdOpen {
        // background-color: var(--accent-base);
        color: rgb(255, 255, 255);
        img {
            filter: brightness(1.2);
        }

        &:hover {
            img {
                filter: brightness(1);
            }
            // background-color: var(--accent-300);

            color: white;
        }
        + .utility {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        + .utility,
        + .nested-buttons {
            transform: scaleY(1);
            opacity: 1;
            transition: transform 100ms ease-out, opacity 100ms ease-out, height 100ms ease-out;

            > * {
                position: relative;
            }
        }
    }

    .hoverBar {
        text-align: center;
        cursor: pointer;
        // background-color: $black2;
        transition: background-color 150ms;
        padding: 0.5rem 0.75rem;

        &:hover {
            // background-color: $black4;
            img {
                filter: brightness(1.2);
            }
            color: var(--accent-300);
        }
    }
    .button-group {
        display: flex;
        background-color: transparent;
        button {
            background-color: transparent;
            img {
                border-radius: 50%;
            }
        }
    }

    .utility,
    .nested-buttons {
        transform: scaleY(0);
        opacity: 0;
        height: fit-content;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        transform-origin: top center;
        transition: transform 100ms ease-out, opacity 100ms ease-out;

        > * {
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            box-shadow: none;
            border: none;
        }
    }
    .nested-buttons {
        position: absolute;
        left: 100%;
        flex-direction: row;
        transform-origin: right center;
        .navigate {
            aspect-ratio: 1/1;
            text-align: center;
            background-size: cover;
        }
    }

    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
    }

    background-color: transparent;
    background: none;
    box-shadow: none;

    .window-content {
        background-color: transparent;
        background: none;
        box-shadow: none;
        overflow: visible;
    }

    .utility {
        button {
            overflow: hidden;
            aspect-ratio: 1/1;
            width: 100%;
            max-width: 3rem;
            height: auto;
            text-align: left;
            // padding: 0.5rem 0.75rem;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            border-radius: 50%;
            border-color: transparent;
            transition: background-color 150ms ease-in, color 150ms ease-in, box-shadow 150ms ease-in,
                border 150ms ease-in, border-color 150ms ease-in;
            img {
                transform: scale(1);
                transition-delay: 50ms;
                transition: transform 170ms ease-in;
            }

            &:hover {
                color: white;
                background-color: #7070707a;
                border-top: 1px solid rgba(255, 255, 255, 0.198);
                border-bottom: 1px solid rgba(255, 255, 255, 0.198);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

                @supports (backdrop-filter: blur(2px)) or (-webkit-backdrop-filter: blur(2px)) {
                    background-color: #70707044;
                    backdrop-filter: blur(2px);
                }

                @supports not (backdrop-filter: blur(2px)) {
                    background-color: #7070707a;
                }
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}
