#helperHud {

	// top: 500px !important;
	// left: 10px !important;
	width: max-content !important;
	height: max-content !important;

	.hoverBar {
		font-size: 1.2rem;
		text-align: center;
		padding: 0.5rem;
		cursor: pointer;
		background-color: $black2;
		transition: background-color 150ms;

		&.holdOpen {
			background-color: var(--accent-base);
			color: rgb(255, 255, 255);

			&:hover {
				background-color: var(--accent-300);
				color: white;
			}

			+.utility {
				// display: flex;
				// flex-direction: column;
				transform: scaleY(1);
				opacity: 1;
			}
		}

		&:hover {
			background-color: $black4;
			color: var(--accent-300);
		}

	}



	&:hover {
		.utility {
			transform: scaleY(1);
			opacity: 1;
			// display: flex;
			// flex-direction: column;
		}

		.window-header {
			display: block;
		}
	}

	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
	}

	background-color: transparent;
	background: none;
	box-shadow: none;

	.window-content {
		background-color: transparent;
		background: none;
		box-shadow: none;


	}



	.utility {
		display: flex;
		flex-direction: column;
		transform: scaleY(0);
		opacity: 0;
		transform-origin: top center;
		transition: transform 100ms ease-out, opacity 200ms ease-out;


		button {
			width: 100%;
			text-align: left;
			padding: 0.5rem 0.75rem;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
			transition: background-color 150ms, color 150ms;

			&:hover {
				color: white;
				background-color: #7070707a;
				border-top: 1px solid rgba(255, 255, 255, 0.198);
				border-bottom: 1px solid rgba(255, 255, 255, 0.198);
				border-radius: 10px;

				@supports (backdrop-filter: blur(2px)) or (-webkit-backdrop-filter: blur(2px)) {
					background-color: #70707044;
					backdrop-filter: blur(2px);
				}

				@supports not (backdrop-filter: blur(2px)) {
					background-color: #7070707a;
				}
			}
		}

	}
}