//  .editor-content,
//  #tinymce {
.journalTooltipParagraph {
	// position: relative;
	font-weight: bold;
}

.addTooltips {
	background-color: transparent;
	width: fit-content;
}

.showTooltip {
	// position: relative;
	overflow: visible;

	&:hover {
		color: pink;
	}
}

.journal-tooltip {
	z-index: 100;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	position: absolute;
	top: 50%;
	right: calc(100% - 2rem);
	transform: translateY(-50%);
	border: 1px solid white;
	color: white;
	max-width: 35ch;
	width: 35ch;
	min-height: 12rem;
	// max-height: 15rem;
	height: fit-content;
	padding: 0rem 1rem;
	border-radius: 12px;
	overflow-y: visible;
	overflow-x: hidden;
	background-color: #424242;

	* {

		height: fit-content;
	}

	h1 {
		color: #212121 !important;
		font-size: 2rem;
	}

	h1,
	p {
		margin: 0;
		padding: 0;

	}

	span {
		display: inline-block;
	}

	&__header {
		flex: 1;
		font-size: 1.25rem;
		background-color: rgba(255, 255, 255, 0.192);
		backdrop-filter: blur(12px);
		color: #212121;
		margin-right: -10%;
		margin-left: -10%;
		overflow-x: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-height: 3rem;
	}

	&__body {
		padding: 0.5rem 1rem;
		display: flex;
		flex: 2;

		p {
			line-height: 1.75 !important;
		}

		overflow-y: scroll;
		max-height: 12rem;
	}

	&__footer {
		flex: 0 1;
		max-height: 3rem;
		display: flex;
		padding: 1rem 2rem;

		color: #212121 !important;
		background-color: white;
		margin-left: -10%;
		margin-right: -10%;

		span {
			font-weight: bold;
			color: var(--royal-blue-light)
		}
	}
}

//  }