// .editor-content,
// #tinymce {

.journal-tooltip {
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	position: absolute;
	border: 1px solid white;
	color: white;
	max-width: 35ch;
	// max-height: 15rem;
	height: fit-content;
	padding: 0rem 1rem;
	border-radius: 12px;
	overflow-y: visible;
	overflow-x: hidden;
	background-color: #424242;

	* {

		height: fit-content;
	}

	h1 {
		color: #212121 !important;
	}

	h1,
	p {
		margin: 0;
		padding: 0;

	}

	span {
		display: inline-block;
	}

	&__header {
		flex: 1;
		background-color: rgba(255, 255, 255, 0.466);
		color: #212121;
		margin-right: -10%;
		margin-left: -10%;
		overflow-x: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__body {
		display: flex;
		flex: 2;

		p {
			line-height: 1.75 !important;
		}

		overflow-y: scroll;
		max-height: 12rem;
	}

	&__footer {
		flex: 0 1;
		display: flex;
		padding: 0rem 2rem;
		background-color: white;
		margin-left: -10%;
		margin-right: -10%;
	}
}

// }