@function color($color-name) {
	@return var(--color-#{$color-name});
}

@mixin ba($ba, $width, $height, $top, $left, $z-index:inherit, $rel:true, $content:null) {
	@if ($rel==true) {
		position: relative;
	}

	&:#{$ba} {
		position: absolute;
		width: $width;
		height: $height;
		top: $top;
		left: $left;
		content: "#{$content}";
		z-index: $z-index;
		@content;
	}
}