.outpost-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;

    max-width: 80vw;

    input {
        color: white;

        &::placeholder {
            color: white;
        }
    }
}

.individual-outpost {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-600);
    border-color: var(--color-neutral-darkest);
    color: white;
    padding: 0.75em 1em;
    border-radius: 12px;

    #pointPool {
        border: 1px solid;
        border-color: var(--color-primary-base);
        color: var(--color-primary-300);

        &.empty {
            color: lightcoral;
            border-color: lightcoral;
        }
    }

    .points-display {
        display: grid;
        grid-auto-flow: column;
        grid-auto-rows: 1rem;

        cursor: pointer;

        .point {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: 1px solid coral;

            &-symbol {
                border: none;
                display: inline-grid;
                place-content: center;
            }
        }

        .underlay {
            grid-row: 1/2;
            grid-column: 1/2;

            .point {
                background-color: transparent;

                &-symbol {
                    filter: grayscale(60%);
                    opacity: 30%;
                    transform-origin: center;
                    transform: scale(0.8);
                }
            }

        }

        .fill {

            grid-row: 1/2;
            grid-column: 1/2;

            .point {

                background-color: lightcoral;

                &-symbol {

                    background-color: transparent;
                }
            }

        }

    }

    .ratings-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // flex-wrap: wrap;
        gap: 0.5rem;

        .rating-container {
            display: grid;
            // display: flex;
            // justify-content: space-between;
            // align-items: flex-end;
            gap: 0.5rem;
            grid-template-columns: minmax(0, 200px) 1fr;
            grid-template-rows: 2rem;
            align-items: center;
            justify-content: center;
            justify-items: center;

            .points-display {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .wrapper {
                grid-row: 1/2;
                grid-column: 1/2;
                justify-self: end;
                align-self: center;
                gap: 0.25rem;
            }

            .roll-button {
                grid-row: 1/2;
                grid-column: 2/3;

            }
        }

        .rating-label {

            color: var(--color-primary-200);
            border: unset;
            white-space: nowrap;
        }

        button {
            border: unset;
            background-color: var(--color-primary-base);
            white-space: nowrap;

        }

        .wrapper {

            display: flex;
            justify-content: center;
            align-items: center;
            max-width: fit-content;
            flex-direction: row;

            .displayNumber {
                flex: 1;
                background-color: lightcoral;
                opacity: 70%;
                color: black;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 100%;
                bottom: calc(100% - 2px);
                border-radius: 4px;
                width: 100%;
            }
        }




        input {
            color: white;

            &::placeholder {
                color: white;
            }
        }
    }

    .consequence-clock {
        display: grid;
        grid-template-columns: minmax(0, 200px) 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 1rem;

        p {
            grid-row: 1/2;
            grid-column: 1/2;
            justify-self: end;
            color: var(--color-primary-200);
        }

        .points-display {
            grid-row: 1/2;
            grid-column: 2/3;
        }
    }
}
