.downtime-sheet {
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            list-style-type: none;
            display: flex;

            .character-info-wrapper {
                display: grid;
                grid-template-columns: minmax(0, 50px) 1fr;
                grid-template-rows: 100%;
                width: 100%;

                img {
                    grid-row: 1/2;
                    grid-column: 1/2;
                }

                h3 {
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
            }

            .floating {
                position: absolute;
                display: flex;
                flex-direction: column;

                ul {}
            }
        }
    }
}

.outpost-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    max-width: 80vw;

    .phase-container fieldset {
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        width: fit-content;
        height: fit-content;

        label {
            border-radius: unset;
            border: unset !important;
        }

    }

    input {
        color: white;

        &::placeholder {
            color: white;
        }
    }
}

.individual-outpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-darkest);
    border-color: var(--color-neutral-darkest);
    color: white;
    padding: 0.75em 1em;
    border-radius: 12px;
    gap: 1rem;

    // padding-top: 2rem;
    >h2 {
        margin-right: auto;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .station-wrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            button {
                font-size: 0.75rem;
                border: unset;
                border: 1px solid var(--color-primary-300);
                color: var(--color-primary-300);
                white-space: nowrap;

                // background-color: var(--color-primary-300);
            }
        }
    }

    section {
        border-radius: 5px;
        background-color: var(--color-neutral-400);
    }

    label.point-pool-label {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        input {
            flex: 0;
        }
    }

    details {
        border-radius: 8px;
        width: 100%;

        &[open] {
            summary {
                color: var(--color-neutral-400);
            }

            ul {
                opacity: 0%;
                pointer-events: none;
            }
        }

        summary {
            list-style-type: armenian;
            display: flex;
            font-size: 1rem;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: var(--color-neutral-700);
            border-bottom: 2px solid var(--color-primary-base);
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;
            padding: 0.5rem 0.45rem;

            ul {
                opacity: 100%;
                margin: unset;
                display: inline-flex;
                gap: 0.5rem;
            }

            ul li {
                list-style-type: none;
                font-size: 1rem;
                filter: grayscale(50%);

                &:hover {
                    outline: 1px solid var(--color-primary-400);
                    outline-offset: 3px;
                    border-radius: 5px;
                    color: var(--color-neutral-400) !important;
                    filter: grayscale(0%);
                }
            }


        }


        :slotted(details) {
            border-radius: 8px;
            border: 2px solid var(--color-primary-darkest);
        }

    }

    #pointPool {
        border: 1px solid;
        border-color: var(--color-primary-base);
        color: var(--color-primary-300);

        &.empty {
            color: lightcoral;
            border-color: lightcoral;
        }
    }

    .points-display {
        display: grid;
        grid-auto-flow: column;
        grid-auto-rows: 1rem;

        cursor: pointer;

        .point {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: 1px solid coral;

            &-symbol {
                border: none;
                display: inline-grid;
                place-content: center;
            }

            position: relative;


        }

        .underlay {
            grid-row: 1/2;
            grid-column: 1/2;

            .point {
                background-color: transparent;

                &-symbol {
                    filter: grayscale(60%);
                    opacity: 30%;
                    transform-origin: center;
                    transform: scale(0.8);
                }
            }

        }

        .fill {

            grid-row: 1/2;
            grid-column: 1/2;

            .point {

                background-color: lightcoral;

                &-symbol {

                    background-color: transparent;

                    &::after {
                        display: none;
                    }


                }

                &:nth-child(3n)::after {
                    content: "";
                    position: absolute;
                    right: -50%;
                    transform: translateX(-50%);
                    width: 50%;
                    height: 100%;
                    border-right: 1px solid hsla(226, 83%, 77%, 0.671);
                    z-index: 10;
                    pointer-events: none;
                }
            }

        }

    }

    .ratings-wrapper,
    .clocks-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // flex-wrap: wrap;
        gap: 0.5rem;
        background-color: var(--color-neutral-700);
        padding: 1rem;

        .rating-container,
        .clock-container {
            display: grid;
            // display: flex;
            // justify-content: space-between;
            // align-items: flex-end;
            gap: 0.5rem;
            grid-template-columns: minmax(0, 200px) 1fr;
            grid-template-rows: 2rem;
            align-items: center;
            justify-content: center;
            justify-items: center;
            border-radius: 5px;

            &:hover {
                outline: 1px solid var(--color-primary-400);
                outline-offset: 2px;
            }



            .wrapper {
                grid-row: 1/2;
                grid-column: 1/2;
                justify-self: end;
                align-self: center;
                gap: 0.25rem;
            }

            .points-display {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .button-wrapper {
                grid-row: 1/2;
                grid-column: 3/4;
                display: flex;

                button {
                    flex: 1;
                }
            }

            .roll-button,
            .roll-rating {
                grid-row: 1/2;
                grid-column: 3/4;

            }
        }

        .rating-label,
        .clock-label {
            font-size: smaller;
            color: var(--color-primary-200);
            border: unset;
            white-space: nowrap;
        }

        button {
            border: unset;
            background-color: var(--color-primary-base);
            white-space: nowrap;

        }

        .wrapper {

            display: flex;
            justify-content: center;
            align-items: center;
            max-width: fit-content;
            flex-direction: row;

            .displayNumber {
                flex: 1;
                background-color: lightcoral;
                opacity: 70%;
                color: black;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 100%;
                bottom: calc(100% - 2px);
                border-radius: 4px;
                width: 100%;
            }
        }




        input {
            color: white;

            &::placeholder {
                color: white;
            }
        }
    }

    // .consequence-clock {
    //     display: grid;
    //     grid-template-columns: minmax(0, 200px) 1fr;
    //     grid-template-rows: 1fr;
    //     align-items: center;
    //     gap: 1rem;

    //     p {
    //         grid-row: 1/2;
    //         grid-column: 1/2;
    //         justify-self: end;
    //         color: var(--color-primary-200);
    //     }

    //     .points-display {
    //         grid-row: 1/2;
    //         grid-column: 2/3;
    //     }
    // }
}
