<button
    class="show{{capitalize this}}
        show flex-centered flex-column | interactive | bg-glass | hover-bg-primary | square-large sharp-corners before-color-overlay before-hover-opacity | text-shadow |"
    data-type="{{this}}"
    data-variant="transparent"
>
    <img class="drop-shadow" src="/modules/hud-and-trackers/images/HUD Buttons/{{this}}.svg" alt="" srcset="" />
    {{capitalize this}}
</button>