<section class="characterSceneDisplaySettings">
    {{! ------------------- }}
    <div class="form-group">
        <label for="characterImagePath">Path to Directory of Character Images</label>
        <p class="note">Provide a path to a directory that you want to use to automatically populate scene images</p>
    </div>
    {{! ------------------- }}
    <div class="form-group">
        <input type="text" name="characterImagePath" value="{{this.characterImagePath}}" />
        <label for="characterImagePath">Path to Directory of Inner Scene Images</label>
        <p class="note">Provide a path to a directory that you want to use to automatically populate scene images</p>
        <input type="text" name="characterImagePath" value="{{this.sceneImagePath}}" />
    </div>

    {{! ------------------- }}
</section>
{{! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }}