<div class="journal-tooltip">
  <div class="journal-tooltip__header">
    <h1>
      {{data.title}}
    </h1>
  </div>
  <div class="journal-tooltip__body">
    <p>
      {{data.description}}
    </p>
  </div>
  <div class="journal-tooltip__footer">
    <p>
      Hold
      <span>
        [X]
      </span>
      to interact with this card.
    </p>
  </div>
</div>