{{!-- Create New Expedition" --}}

{{!-- Pick Expedition Type --}}

{{!-- Define Number of Camps --}}
<label for="campNumber">{{campNumber.name}}</label>
<input type="number" name="campNumber" id="campNumber" value="{{campNumber.value}}">

