.timeline-section {
    overflow: auto;
    display: grid;
    grid-template-columns: 45% 5% 45%;
    gap: 1rem;
    h2,
    h3,
    h4,
    h5 {
        &:before {
            display: none;
        }
    }

    div.period {
        background-color: #212121;
        border-radius: 8px;
        color: white;
        padding: 1rem 1.25rem;
        display: flex;
        flex-direction: column;
        &:nth-child(odd) {
            grid-column: 1/2;
        }
        &:nth-child(even) {
            grid-column: 3/4;
        }
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                grid-row: #{$i}/#{$i + 1};
            }
            &:nth-child(#{$i + 1}) {
                grid-row: #{$i + 1}/#{$i + 2};
            }
        }
    }
    header {
        h2 {
            font-size: medium;
        }
    }
    .timeline-item {
        h2,
        h3,
        h4 {
            font-size: small;
        }
        &--wrapper {
            position: relative;
        }
        &--tooltip {
            position: absolute;
            top: -50%;
            left: 100%;
            background-color: hsl(249, 23%, 22%);
            min-width: 20ch;
            padding: 1rem;
            opacity: 0;
            transform: scale(0);
            border-radius: 8px;
        }
        &--heading {
            &:hover {
                color: cyan;
                + .timeline-item--tooltip {
                    opacity: 100%;
                    transform: scale(1);
                }
            }
        }
    }
}
