<div class="svg-container">
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 696 211"
    class="svg-content"
    {{!-- preserveAspectRatio="xMinYmin meet" --}}
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  >
	<defs>
		<clipPath id="svgPath">
      <path
        d="M1306.56,810.013C1299.37,808.783 1294.12,802.552 1294.12,795.26C1294.1,791.46 1294.09,787.575 1294.09,784.628C1294.09,783.3 1294.61,782.027 1295.55,781.088C1296.49,780.148 1297.76,779.621 1299.09,779.621C1352.44,779.621 1815.86,779.621 1890.05,779.621C1895.57,779.621 1900.05,784.098 1900.05,789.621L1900.05,980.453C1900.05,985.975 1895.57,990.453 1890.05,990.453L1299.08,990.453C1296.32,990.453 1294.08,988.214 1294.08,985.453C1294.08,982.503 1294.08,978.612 1294.08,974.807C1294.08,967.498 1299.35,961.253 1306.56,960.022C1320.59,957.74 1333.32,951.578 1343.65,942.691C1359.86,928.741 1370.13,908.079 1370.13,885.037C1370.13,861.183 1359.12,839.879 1341.91,825.933C1331.91,817.825 1319.81,812.204 1306.56,810.013Z"
        style="fill:rgb(70,63,144);"
      ></path></clipPath>
        <circle
          cx="1258.27"
          cy="885.037"
          r="77.311"
          style="fill:rgb(70,63,144);"
        ></circle>
    </g></defs>
  </svg>
  <div class="hotbar-container"></div>
</div>