<form class="flexcol">
    <div class="form-group">
        <label for="clockName">Clock Name</label>
        <input
            type="text"
            name="clockName"
            placeholder="Enter a name"
            value="New Clock"
        />
    </div>
    <div class="form-group">
        <label for="sectionCount">How Many Sections</label>
        <input type="number" name="sectionCount" value="3" />
    </div>
    <div class="form-group">
        <label for="startFilled">Start Filled</label>
        <input type="checkbox" name="startFilled" value="false" />
    </div>
    <div class="form-group">
        <label for="color">Choose Color</label>
        <input type="color" name="color" id="color" value="#f77f00" />
    </div>
    <div class="form-group gradients">
        <label>Choose Gradient</label>
        <div class="reddish">
            <input
                type="radio"
                id="reddish"
                name="gradient"
                value="linear-gradient(to right, #DC2424 0%, #4A569D  100%)"
                checked
            />
            <label for="reddish">Reddish</label>
        </div>

        <div class="purple">
            <input
                type="radio"
                id="purple"
                name="gradient"
                value="linear-gradient(to right, #4776E6 0%, #8E54E9  100%)"
            />
            <label for="purple">Purple</label>
        </div>

        <div class="bluePink">
            <input
                type="radio"
                id="bluePink"
                name="gradient"
                value="linear-gradient(62deg, rgb(21, 213, 235) 0.00%, rgb(255, 0, 191) 100.00%)"
            />
            <label for="bluePink">Blue Pink</label>
        </div>
        <div class="turquoise">
            <input
                type="radio"
                id="turquoise"
                name="gradient"
                value="linear-gradient(132deg, rgb(161, 255, 255) 0.00%, rgb(0, 216, 216) 100.00%)"
            />
            <label for="turquoise">Turquoise</label>
        </div>
        <div class="pinkLemonade">
            <input
                type="radio"
                id="pinkLemonade"
                name="gradient"
                value="linear-gradient(132deg, rgb(253, 112, 136) 0.00%, rgb(255, 211, 165) 100.00%)"
            />
            <label for="pinkLemonade">Pink Lemonade</label>
        </div>
        <div class="fire">
            <input
                type="radio"
                id="fire"
                name="gradient"
                value="linear-gradient(132deg, rgb(250, 170, 0) 0.00%, rgb(237, 19, 19) 50.00%, rgb(213, 74, 255) 100.00%)"
            />
            <label for="fire">Fire</label>
        </div>
        <div class="magic">
            <input
                type="radio"
                id="magic"
                name="gradient"
                value="linear-gradient(132deg, rgb(0, 255, 157) 0.00%, rgb(227, 43, 175) 100.00%)"
            />
            <label for="magic">Magic</label>
        </div>
        <div class="pastel">
            <input
                type="radio"
                id="pastel"
                name="gradient"
                value="linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 100.00%)"
            />
            <label for="pastel">Pastel</label>
        </div>
    </div>
    <button class="cancel">Cancel</button>
    <button class="submit">Submit</button>
</form>
