<form class="flexcol">
    <div class="form-group">
        <label for="clockName">Clock Name</label>
        <input
            type="text"
            name="clockName"
            placeholder="Enter a name"
            value="New Clock"
        />
    </div>
    <div class="form-group">
        <label for="sectionCount">How Many Sections</label>
        <input type="number" name="sectionCount" value="3" />
    </div>
    <div class="form-group">
        <label for="startFilled">Start Filled</label>
        <input type="checkbox" name="startFilled" value="false" />
    </div>
    <div class="form-group">
        <label for="color">Choose Color</label>
        <input type="color" name="color" id="color" value="#f77f00" />
    </div>
    <button class="cancel">Cancel</button>
    <button class="submit">Submit</button>
</form>
