<form id="{{id}}">
    <div class="headerWrapper">
        <h3 class="clockName" name="clockName" contenteditable="true">{{name}}</h3>
        <button class="delete" data-action="delete"><i class="fa fa-trash"></i></button>
    </div>
    <div class="entityLinkWrapper">
        <input type="text" class="entityLinkBox" placeholder="drag linked entity here" />
    </div>
    <div class="contentWrapper">
        <div class="breakLabelWrapper">
            {{#each breakLabels}}
            <h3 class="breakLabel" id="{{@key}}" contenteditable="true">{{this}}</h3>
            {{/each}}
        </div>
        <div class="frameWrapper">
            {{#each breaks}}
            <div class="frameSection"></div>
            {{/each}}
        </div>
        <div class="clockWrapper">
            {{#each sections}}
            <div
                class="clockSection"
                id="{{this.id}}"
                data-color="{{this.color}}"
                data-label="{{this.label}}"
            >
                <p class="label">{{this.label}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</form>
