{{#if inCombat}}

<h1 class="roundNumber">Current Round: {{currentRound}}</h1>
<h1 class="phaseName {{currentPhase}}">{{convertToSentence currentPhase}} Turn</h1>
<span class="tooltip">
    <ol>
        <li class="instructions">Right click to mark that character has acted.</li>
        <hr />
        <li class="instructions">
            Alt + Right click to unmark that character has acted.
        </li>
        <hr />
        <li class="instructions">Left click to select token.</li>
    </ol>
</span>
<div class="combatant-wrapper">
	{{#each tokens}}
		{{#if (eq  @key @root.currentPhase)}}
		{{#each this}}
  		<div class="combatant-div" data-initial-scene="{{this.scene.id}}" data-actor-id="{{this.id}}" data-token-id="{{this.id}}" data-phase="{{@root.currentPhase}}">
        	<p>{{this.name}}</p>
        	<img src="{{this.data.img}}" />
    	</div>
		{{/each}}
		{{/if}}
	{{/each}}
	</div>
   
<div class="turnButtonWrapper">
	<button class="previousTurn" data-action="previousTurn"><i class="fas fa-arrow-alt-from-left"></i></button>
	<button class="nextTurn" data-action="nextTurn"><i class="fas fa-arrow-alt-from-right"></i></button>
</div>
{{#if isGM}}
<button class="endCombat" data-action="endCombat"><i class="fas fa-power-off"></i>End Combat</button>
<button class="addCombatant" data-action="addCombatant"><i class="fas fa-user-plus"></i>Add Combatant</button>
{{/if}}
{{else}}
<div><button class="startCombatButton" data-action="startCombat" {{#unless isGM}}disabled{{/unless}}>Start Combat</button></div>
{{/if}}
