<button class="hoverBar" data-action="toggle">
    <img alt="" class="hud-icon" src="/modules/hud-and-trackers/images/Button Badges/TradingIcons_42_t.webp" srcset=""/>
    <!-- <p>Show Utility Buttons <i class="fas fa-plus"></i></p> -->
</button>
<div class="utility">
    <button class="showTownMap" data-action="showTownMap">
        <img alt="" class="hud-icon" src="/modules/hud-and-trackers/images/Button Badges/pirates_04_t.webp" srcset=""/>
    </button>
    <button class="showWiki" data-action="showWiki">
        <img alt="" class="hud-icon" src="/modules/hud-and-trackers/images/Button Badges/wiki.webp" srcset=""/>
    </button>
    {{#each customButtons as |button|}}
        {{#if button.isButtonList }}
            <div class="button-group">
                {{> "modules/hud-and-trackers/templates/custom-button-partial.hbs"}}
                <div class="nested-buttons" data-group-id="{{button.groupId}}">
                    {{#each button.nestedButtons}}
                        {{>"modules/hud-and-trackers/templates/custom-button-partial.hbs"}}
                    {{/each}}
                    <button class="add-button" data-action="addNewButton" data-nested="true">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        {{else}}

            {{> "modules/hud-and-trackers/templates/custom-button-partial.hbs"}}
        {{/if }}
    {{/each}}
    <button class="add-button" data-action="addNewButton">
        <i class="fas fa-plus"></i>
    </button>
</div>