<div class="utility">
		<button class="openCheatSheet">Open Cheat Sheet</button>
		{{#if isGM}}
			<button class="addPCs">Add PCs to Scene</button>
			<button class="changeDisposition">Change Disposition</button>
			<button class="addAttacks">Add NPC Attacks</button>
			<button class="prep">Open Prep Builder</button>
			<button class="addClock"><i class="fas fa-clock"></i> Create Clock</button>
		{{else}}
			<button class="swapCharacter">Swap Character</button>
			<button class="selectCharacter">Select Character Token</button>
			<button class="openCharacterSheet">Open Character Sheet</button>
		{{/if}}
		<button class="openLootSheet">Open Party Lootbox</button>
</div>