
	{{#each attacks}}
	<div class="hud-item" id={{this.id}}>
		<h1 class="hud-item__title">{{this.data.name}} <br><span class="hud-item__damage">Damage: {{this.data.data.damage}}</span></h1>
		<div class="hud-item__description"><p>{{this.data.data.description}}</p></div>
		<hr>
	</div>
	{{/each}}

	{{#each skills}}
	<div class="hud-item" id={{this.id}}>
		<h1 class="hud-item__title">{{this.data.name}} <br><span class="hud-item__damage">Rating: {{this.data.data.skillLevel}}</span></h1>
		<div class="hud-item__description"><p>{{this.data.data.description}}</p></div>
		<hr>
	</div>
	{{/each}}

	{{#each abilities}}
	<div class="hud-item" id={{this.id}}>
		<h1 class="hud-item__title">{{this.data.name}} <br><span class="hud-item__damage"> Cost: {{this.data.data.costPoints}} {{this.data.data.costPool}}</span></h1>
		<div class="hud-item__description"><p>{{this.data.data.description}}</p></div>
		<hr>
	</div>
	{{/each}}