
	<div class="button-wrapper">
		<button class="showAttacks"> Attacks </button>
		<button class="showSkills"> Skills </button>
		<button class="showAbilities"> Abilities </button>
	</div>
	<br>
	<div class="hud-item-wrapper">
		{{#if (eq showTab "attacks")}}
		{{#each attacks}}
		<div class="hud-item" id={{this.id}}>
			<h1 class="hud-item__title">{{this.data.name}} <br><span class="hud-item__damage">Damage: {{this.data.data.damage}}</span></h1>
			{{#unless (eq this.data.data.description "")}}
			<div class="hud-item__description"><p>{{clean this.data.data.description}}</p></div>
			{{/unless}}
		</div>
		{{/each}}
		{{/if}}
		{{#if (eq showTab "skills")}}
		{{#each skills}}
		<div class="hud-item" id={{this.id}}>
			<h1 class="hud-item__title">{{this.data.name}} <br><span class="hud-item__damage">Rating: {{this.data.data.skillLevel}}</span></h1>
			{{#unless (eq this.data.data.description "")}}
			<div class="hud-item__description"><p>{{clean this.data.data.description}}</p></div>
			{{/unless}}
		</div>
		{{/each}}
		{{/if}}
		{{#if (eq showTab "abilities")}}
		{{#each abilities}}
		<div class="hud-item" id={{this.id}}>
			<h1 class="hud-item__title">{{this.data.name}} <br><span class="hud-item__damage"> Cost: {{this.data.data.costPoints}} {{this.data.data.costPool}}</span></h1>
			{{#unless (eq this.data.data.description "")}}
			<div class="hud-item__description"><p>{{clean this.data.data.description}}</p></div>
			{{/unless}}
		</div>
		{{/each}}
		{{/if}}

		{{#if combatActive}}
		<p>It's the player's turn. Have you acted?</p>
		<button class="combatAction"><i class="fas fa-power-off"></i> I've Acted</button>
		<input type="checkbox" name="combatActed" id="combatActed">
		{{/if}}
	</div>