{{#if ourToken}}
<h1>{{ourToken.name}}</h1>
<div class="button-wrapper">
	<button class="showAttacks" data-type="attacks"> Attacks </button>
	<button class="showSkills" data-type="skills"> Skills </button>
	<button class="showAbilities" data-type="abilities"> Abilities </button>
	<button class="showCyphers" data-type="cyphers"> Cyphers </button>
	<button class="showArtifacts" data-type="artifacts"> Artifacts </button>
</div>
<br>
<div class="hud-item-wrapper">
	<!-- Attacks -->
	{{#if (eq showTab "attacks")}}
	<div class="pinnedDiv">
		{{#each pinnedItems.attack}}
			{{> "modules/hud-and-trackers/templates/hud-partials/attack-partial.html"}}
		{{/each}}
	</div>
	{{#each attacks}}
		{{> "modules/hud-and-trackers/templates/hud-partials/attack-partial.html"}}
	{{/each}}
	{{/if}}
	<!-- Skills -->
	{{#if (eq showTab "skills")}}
	<div class="pinnedDiv">
		{{#each pinnedItems.skill}}
		{{> "modules/hud-and-trackers/templates/hud-partials/skill-partial.html"}}
		{{/each}}
	</div>
	{{#each skills}}
		{{> "modules/hud-and-trackers/templates/hud-partials/skill-partial.html"}}
	{{/each}}
	{{/if}}
	<!-- Abilities -->
	{{#if (eq showTab "abilities")}}
	<div class="pinnedDiv">
		{{#each pinnedItems.ability}}
		{{> "modules/hud-and-trackers/templates/hud-partials/ability-partial.html"}}
		{{/each}}
	</div>
	<div class="break"></div>
	{{#each abilities}}
		{{> "modules/hud-and-trackers/templates/hud-partials/ability-partial.html"}}
	{{/each}}
	{{/if}}
	<!-- Cyphers -->
	{{#if (eq showTab "cyphers")}}
	<div class="pinnedDiv">
		{{#each pinnedItems.cypher}}
		{{> "modules/hud-and-trackers/templates/hud-partials/cypher-partial.html"}}
		{{/each}}
	</div>
	<div class="break"></div>
	{{#each cyphers}}
		{{> "modules/hud-and-trackers/templates/hud-partials/cypher-partial.html"}}
	{{/each}}
	{{/if}}
	<!-- Artifacts -->
	{{#if (eq showTab "artifacts")}}
	<div class="pinnedDiv">
		{{#each pinnedItems.artifact}}
		{{> "modules/hud-and-trackers/templates/hud-partials/artifact-partial.html"}}
		{{/each}}
	</div>
	<div class="break"></div>
	{{#each artifacts}}
		{{> "modules/hud-and-trackers/templates/hud-partials/artifact-partial.html"}}
	{{/each}}
	{{/if}}
</div>
{{/if}}