<section class="iframe-wrapper flex-column flex-center">
    <button data-click-action="sendToTile">Send to Tile</button>
    <iframe class="map-display-frame" allow="clipboard-read; clipboard-write" src="{{src}}"></iframe>`;
</section>
