				<form class="flexcol">
					<div class="form-group">
						<label for="item">Item Name</label>
						<input type="text" name="itemName" placeHolder="Enter a name">
					</div>
					<div class="form-group">
						<label for="image">ChooseImage</label>
						<input type="text" name="imagePicker" value="">
						<button class="pickFile">Pick File</button>
					</div>
					<div class="form-group">
						<label for="itemColor">Choose Color</label>
						<input type="color" name="itemColor" id="itemColor" value="#f77f00">
					</div>
					<div class="form-group">
						<label for="typeSelect">Select Type</label>
						<select name="typeSelect">
							<option value="item">Tracked Item</option>
							<option value="waypoint">Waypoint</option>
						</select>
					</div>
					<button class="cancel">Cancel</button>
					<button class="submit">Submit</button>
				</form>