<form action="" class="flexcol">
	<div class="trackerWrapper" name="trackerWrapper">
		{{#each trackerCollection}}
		<div class="tracker" id={{this.id}} name={{this.name}}>
			<h1 class="tracker-title">{{this.name}}</h1>
			<div class="container">
				{{#each this.trackedItems}}
				{{#if (eq this.type "item")}}
				{{log OUR TYPE IS this.type level="debug"}}
				<div class="draggie draggableItem" name={{this.name}} id={{this.id}}>
					<h1 class="itemLabel">{{this.name}}</h1>
					<img class="dragImg" src={{this.imageSource}} alt="chosen image">
				</div>
				{{else}}
				<div class="draggie draggableWaypoint" name={{this.name}} id={{this.id}}>
					<div class="handle">
						<h1 class="waypointLabel">{{this.name}}</h1>
						<img class="handleImg" src={{this.imageSource}} alt="chosen image">
					</div>
					<div class="line"></div>
				</div>
				{{/if}}
				{{/each}}
			</div>
			<div class="button-wrapper">
				<button class="btn addDivider">+ <br> Divider</button>
				<button class="btn addItem">+ <br>Item</button>
			</div>
		</div>
		<hr>
		{{/each}}
		<button class="btn addTracker">+ Tracker</button>
	</div>
</form>