<section class="full-profile" data-id="{{id}}">
  <button data-action="edit" class="rounded square">
    <i class="fas fa-edit"></i>
  </button>
  <img src="{{char_full_body}}" alt="full body portrait" class="rounded" />
  <h3 class="rounded window-padding">
    {{name}}
  </h3>
  <p class="rounded window-padding">
    {{description}}
  </p>
  <span class="input-label-wrapper">
    <label for="tag">
      Add Tag
    </label>
    <input type="text" id="tag" name="tag" />
    <button data-action="save-tags">
      <i class="fas fa-save"></i>
    </button>
  </span>
</section>