<section class="full-profile">
  <button data-action="edit" class="rounded square">
    <i class="fas fa-edit"></i>
  </button>
  <img src="{{char_full_body}}" alt="full body portrait" class="rounded" />
  <h3 class="rounded window-padding">
    {{name}}
  </h3>
  <p class="rounded window-padding">
    {{description}}
  </p>
</section>