<form action="">
  <section>
    <!--input for name-->
    <label for="name">
      Character Name
    </label>
    <input type="text" name="name" id="name" value="{name}" />
    <!--input for description-->
    <label for="description">
      Description
    </label>
    <textarea name="description" id="description"></textarea>
    <label for="char-full-body">
      Add Full-Body Image
    </label>
    <span>
      <input
        type="text"
        placeholder="path/image.png"
        value="{{char_full_body}}"
        name="char_full_body"
        id="char-full-body"
      />
      <button data-action="open-picker">
        <i class="fas fa-file-import"></i>
      </button>
    </span>
    <!--Add portrait img / add some way to clip it with various shapes-->
    <label for="thumbnail-img">
      Add Thumbnail or Token Image
    </label>
    <span>
      <input
        type="text"
        placeholder="path/image.png"
        value="{{thumbnail_image}}"
        name="thumbnail_img"
        id="thumbnail-img"
      />
      <button data-action="open-picker">
        <i class="fas fa-file-import"></i>
      </button>
    </span>
    <button type="submit">
      Submit
    </button>
    <button data-action="cancel">
      Cancel
    </button>
  </section>
</form>