<section>
  <!--input for name-->
  <label for="name">
    Character Name
  </label>
  <input type="text" name="name" id="name" />
  <!--input for description-->
  <label for="description">
    Description
  </label>
  <textarea name="description" id="description"></textarea>
  <label for="char-full-body">
    Add Full-Body Image
  </label>
  <span>
    <input
      type="text"
      placeholder="path/image.png"
      value="{fullBodyImage}"
      name="char-full-body"
      id="char-full-body"
    />
    <button data-action="open-picker">
      <i class="fas fa-file-import"></i>
    </button>
  </span>
  <!--Add portrait img / add some way to clip it with various shapes-->
  <label for="char-thumbnail">
    Add Thumbnail or Token Image
  </label>
  <span>
    <input
      type="text"
      placeholder="path/image.png"
      value="{thumbnailImage}"
      name="thumbnail-img"
      id="thumbnail-img"
    />
    <button data-action="open-picker">
      <i class="fas fa-file-import"></i>
    </button>
  </span>
  <button type="submit">
    Submit
  </button>
  <button data-action="cancel">
    Cancel
  </button>
</section>