<section class="iframe-display" data-id="{{id}}">
  <img src="{{imagePath}}" alt="" srcset="" />
  <iframe
    src="https://classy-bavarois-433634.netlify.app/{{pathName}}"
    frameborder="0"
  ></iframe>
</section>