	<button class="showClocks" data-action="showClocks">Show Clocks</button>
	<div class="clockCategory__wrapper">
		<div class="clockCategory sharedClocks">
			<h3>Shared Clocks</h3>
			{{#each sharedClocks}}
			{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
			<hr>
			{{/each}}
		</div>
		{{#unless sceneClocks}}
		{{#unless (eq (objectEmpty sceneClocks) "true")}}
		<div class="clockCategory sceneClocks">
			<h3>Scene-Specific Clocks</h3>
			{{#each sceneClocks}}
		{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
		<hr>
			{{/each}}
		</div>
		{{/unless}}
		{{/unless}}
		<div class="clockCategory myClocks">
			<h3>Your Clocks</h3>
			{{#each myClocks}}
		{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
		<hr>
			{{/each}}
		</div>
	</div>
	<button class="addClock" data-action="addClock"><i class="fas fa-plus"></i>New Clock</button>
