	<button class="showClocks" data-action="showClocks">Show Clocks</button>
	{{log this}}
	{{log sharedClocks}}
	<div class="clockCategory sharedClocks">
		{{#each sharedClocks}}
		{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
		<hr>
		{{/each}}
	</div>
	<div class="clockCategory sceneClocks">
		{{#each sceneClocks}}
	{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
	<hr>
		{{/each}}
	</div>
	<div class="clockCategory myClocks">
		{{#each myClocks}}
	{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
	<hr>
		{{/each}}
	</div>
	<button class="addClock" data-action="addClock"><i class="fas fa-plus"></i>New Clock</button>
