<form>
	<section>
	{{#each this}}
	{{!-- {{> 'modules/hud-and-trackers/templates/clock.html'  (spreadObject this) sections=(getValues sectionMap) user=game.user}} --}}
	{{> 'modules/hud-and-trackers/templates/clock.hbs' miniDisplay=true}}
	<hr>
	{{/each}}
</section>
</form>
