:root {
	// 	Font size
	--fs-teensy: 0.25rem;
	--fs-tiny: 0.5rem;
	--fs-small: 0.75rem;
	--fs-normal: 1rem;
	--fs-large: 1.5rem;
	--fs-larger1: 2rem;
	--fs-larger2: 3rem;
	--fs-huge: 4rem;
	--fs-huge1: 6rem;
	--fs-huge2: 8rem;
	--fs-gargantuan: 12rem;
	--fs-gargantuan1: 16rem;
	--fs-gargantuan2: 24rem;
	--fs-colossal: 32rem;
	--fs-colossal1: 40rem;
	--fs-titanic: 48rem;
}