button i {
	display: grid;
	place-content: center;
	margin: 0;
}

.square {
	width: 2rem;
	height: 2rem;
}

.horizontal-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}



.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.config-wrapper {
	display: flex;
	background-color: $jet-5;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

}

.drawer-visible {
	right: unset;
	left: 0px;
}

.side-drawer {
	position: absolute;
	right: 100%;
	z-index: 200;
	width: 50%;

	.tab {
		position: absolute;
		left: 100%;
		top: 50%;
		width: 3rem;
		height: 3rem;
		background-color: var(--color-accent-base);
		color: white;
		z-index: 200;
	}
}

.justify-self-right {
	margin-left: auto;
}

//wether filled or ghost
//what color the background is
//what color the border is
//what color the text is

.ghost {
	background-color: transparent;
	color: var(--color-primary-base);
	border: 1px solid white;
	border-color: var(--color-primary-base);

	&:hover {
		border-color: var(--color-accent-base);
		color: var(--color-accent-base);
	}
}

.filled {
	background-color: var(--color-primary-base);
	border-color: var(--color-primary-base);
	color: white;
	transition: border-color 100ms ease-in, background-color 100ms ease-in;

	&:hover {
		background-color: var(--color-accent-base);
		border-color: var(--color-accent-base);
	}
}

.bg-accent {
	background-color: var(--color-accent-base);
	border-color: var(--color-primary-base);


}

.rounded {
	border-radius: 8px;
}

.slight-rounded {

	border-radius: 5px;
}

.text-white {
	color: white;
}

.text-warning {
	color: rgb(255, 92, 63);
}

.text-primary {
	color: var(--color-primary-base);
}

.text-accent {
	color: var(--color-accent-base);
}

.border-primary {
	border-color: var(--color-primary-base);
}

.border-accent {
	border-color: var(--color-accent-base);

}

// .base-background {
// 	background-color: var(--color-primary-base);
// 	transition: border-color 100ms ease-in;

// 	&:hover {
// 		background-color: var(--color-accent-base);
// 		border-color: var(--color-accent-base);
// 	}
// }

// .border-rounded {
// 	border: 1px solid white;
// 	border-radius: 8px;
// }

// .base-border {
// 	border-color: var(--color-primary-base);
// }
.hover-shadow {
	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		border-radius: inherit;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
		opacity: 0%;
		transition: opacity 100ms ease-out;

	}

	&:hover {
		&:before {
			opacity: 100%;

		}
	}
}

.window-padding {
	padding: clamp(0.5rem, 0.5rem + 1vw, 1rem) clamp(0.5rem, 0.5rem + 1vh, 1rem);
}

.window-gap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.input-and-label-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.file-input-wrapper {
	display: flex;
	max-width: 100%;

	button {
		//grow none, shrink normal scale
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		height: 100%;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	input {
		//max, min, ideal
		//grow normal scale, shrink none
		flex: 1 0 auto;
		max-width: 60%;
		height: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}