	$might: #fe4a49;
	$speed: #2ab7ca;
	$intellect: #fed766;
	/* SCSS HEX */
	$rich-black-fogra-39: #121212ff;
	$eerie-black: #1d1d1dff;
	$eerie-black-2: #222222ff;
	$eerie-black-3: #242424ff;
	$eerie-black-4: #272727ff;
	$jet: #2c2c2cff;
	$jet-2: #2d2d2dff;
	$jet-3: #333333ff;
	$jet-4: #353535ff;
	$jet-5: #383838ff;