@import "wiki-partials/wiki-style.scss";
@import "wiki-partials/character-popout.scss";

@import "partials/outpost";

@import "partials/mixins";

@import "_variables";
@import "globals";

@import "partials/tracker-app";

@import "partials/token-hud";
@import "partials/helper-hud";
@import "partials/player-list";

@import "partials/combat-hud";
@import "partials/custom_playerlist";
@import "partials/journal-tooltip";
@import "_utility";

.theatre-narrator-content {
    overflow-x: hidden !important;
}

.geDiagramContainer {
    width: 100% !important;
    height: 100% !important;
    display: grid;
    place-content: center;
}

#html-to-scene {
    display: grid;
    place-content: center;
}

//for hiding default elements off screen
.visible {
    transition: left 100ms ease-in;
    left: 15px;
}

.hide-off-screen {
    transition: left 100ms ease-out;
    left: -999px !important;
    opacity: 0;
    // bottom: -999px !important;
}
//This should overtake the above
.window-app .window-header.minimal-window-header {
    // flex: 0 0 0.75rem;
    display: none;
    &.invisible {
        display: none;
        width: fit-content;
        height: auto;
        > span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.bring-on-screen {
    transition: left 100ms ease-in;
    left: 15px;
    opacity: 100%;
    z-index: 200;
}

.send-to-back {
    z-index: 0 !important;
}

.button-group {
    grid-row: 1/2;
    grid-column: 2/4;
    display: flex;
    flex-direction: row;
    border: none;
    // border: 2px solid var(--clr-dark-base);
    color: white;
    border-radius: 5px;
    padding: 0rem 0rem;
    min-width: 50%;
    label {
        border: 2px solid var(--clr-dark-base);
    }
    label:not(:first-of-type, :last-of-type) {
        border-left: none;
        border-right: none;
    }
    label:first-of-type {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    label:last-of-type {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    input[type="radio"] {
        transform: scale(0);
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;

        & + label {
            background-color: var(--color-primary-base);
            padding: 0.25rem 0.5rem;
            --hover-color: var(--color-primary-400);
            overflow: visible;
            width: fit-content;
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 150ms ease-out;
            background-color: var(--color-primary-base);
            &:hover {
                cursor: pointer;
                background-color: var(--hover-color);
                color: #212121;
            }
        }
        &:checked + label {
            --hover-color: var(--color-primary-base);
            color: white;
            transition: background-color 250ms ease-out;
            box-shadow: var(--box-shadow);
            &:not(:hover) {
                background-color: var(--color-primary-darkest);
            }
        }
    }
}
// .interactive {
//     background-color: var(--tui-black4);
//     border-radius: 8px;
//     &:is(li) {
//         list-style-type: none;
//         margin-left: 0;
//     }
//     &:hover {
//         background-color: var(--color-hover-color);
//         cursor: pointer;
//         &:disabled {
//             cursor: not-allowed;
//         }
//     }

//     &.removable {
//         &:hover {
//             background-color: #dc2424;
//         }
//     }
// }

.btn {
    transition: all 100ms ease-in-out;

    &-round {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;

        i {
            margin: 0;

            &:after {
                display: flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }

        &:hover,
        &:active,
        &:focus {
        }
    }

    &-ghost {
        background: transparent;
        color: white;
        border: 2px solid white;

        &:hover,
        &:focus,
        &:active {
            background: transparent;
            color: var(--color-secondary-base);
            border-color: var(--color-secondary-base);
        }

        &:active {
            color: var(--color-primary-base);
            border-color: var(--color-primary-base);
        }
    }

    &-primary {
        color: $black2;
        background: linear-gradient(to left, var(--color-primary-base), var(--color-secondary-base));
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        border: none;

        &:active,
        &:focus,
        &:hover {
            background: linear-gradient(to left, var(--color-primary-base), var(--color-secondary-base));
            background-position: 150% 150%;
            // background: var(--color-secondary-base);
        }
    }
}

#chat-form {
    .chatTokenImg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.45;
        overflow: hidden;
        transition: background-image 100ms;
        transition: opacity 100ms;
        padding: 5px;
        pointer-events: none;
        -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 25%, black 75%);

        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 25%, black 75%);

        img {
            object-fit: contain;
            max-height: 100%;
        }

        &.hide {
            opacity: 0;
        }
    }
}

.window-app {
    &.sheet {
        &.minimized {
            .clock-drawer {
                min-height: max-content;
                top: 0;
                padding: 0.1rem;

                &__header {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

@import "./partials/hud-hotbar";
@import "./partials/clock";
@import "./partials/clockconfig";
@import "./partials/clock-drawer";
@import "./partials/clock-display";
@import "./partials/character-scene-display";

@import "./partials/party-overview";
@import "./partials/dice-pool";

#clockConfig,
.clockHud,
#clock-display,
.clock-display,
.app-child,
.gradients {
    .reddish {
        background-image: linear-gradient(to right, #dc2424 0%, #4a569d 100%);

        &.mix {
            background-image: none;
            background: mix(#dc2424, #4776e6, 50%);
        }
    }

    .purple {
        background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 100%);

        &.mix {
            background-image: none;
            background: mix(#4776e6, #8e54e9, 50%);
        }
    }

    .bluePink {
        background-image: linear-gradient(62deg, rgb(21, 213, 235) 0%, rgb(255, 0, 191) 100%);

        &.mix {
            background-image: none;
            background: mix(rgb(21, 213, 235), rgb(255, 0, 191), 50%);
        }
    }

    .turquoise {
        background-image: linear-gradient(132deg, rgb(161, 255, 255) 0%, rgb(0, 216, 216) 100%);

        &.mix {
            background-image: none;
            background: mix(rgb(161, 255, 255), rgb(0, 216, 216), 50%);
        }
    }

    .pinkLemonade {
        background-image: linear-gradient(132deg, rgb(253, 112, 136) 0%, rgb(255, 211, 165) 100%);

        &.mix {
            background-image: none;
            background: mix(rgb(253, 112, 136), rgb(255, 211, 165), 50%);
        }
    }

    .fire {
        background-image: linear-gradient(132deg, rgb(250, 170, 0) 0%, rgb(237, 19, 19) 50%, rgb(213, 74, 255) 100%);

        &.mix {
            background-image: none;
            background: mix(rgb(250, 170, 0), rgb(237, 19, 110), 50%);
        }
    }

    .magic {
        background-image: linear-gradient(132deg, rgb(0, 255, 157) 0%, rgb(227, 43, 175) 100%);

        &.mix {
            background-image: none;
            background: mix(rgb(0, 255, 157), rgb(227, 43, 175), 50%);
        }
    }

    .pastel {
        background-image: linear-gradient(132deg, rgb(255, 206, 236) 0%, rgb(151, 150, 240) 100%);

        &.mix {
            background-image: none;
            background: mix(rgb(255, 206, 236), rgb(151, 150, 240), 50%);
        }
    }
}
