@import 'partials/mixins';
@import '_variables';

@import "partials/tracker-app";

@import "partials/token-hud";
@import "partials/helper-hud";
@import "partials/player-list";



@import "partials/combat-hud";
@import "partials/custom_playerlist";

//for hiding default elements off screen
.visible {
	left: 15px;
	transition: left 100ms ease-in;
}

.hide-off-screen {
	transition: left 100ms ease-out;
	left: -999px !important;
	// bottom: -999px !important;
}

.btn {
	transition: all 100ms ease-in-out;

	&-ghost {
		background: transparent;
		color: white;
		border: 2px solid white;

		&:hover,
		&:focus,
		&:active {
			background: transparent;
			color: var(--color-accent-base);
			border-color: var(--color-accent-base);
		}

		&:active {
			color: var(--color-primary-base);
			border-color: var(--color-primary-base);
		}
	}

	&-primary {
		color: $black2;
		background: linear-gradient(to left, var(--color-primary-base), var(--color-accent-base));
		background-position: 100% 100%;
		background-repeat: no-repeat;
		background-size: 100%;
		border: none;

		&:active,
		&:focus,
		&:hover {
			background: linear-gradient(to left, var(--color-primary-base), var(--color-accent-base));
			background-position: 150% 150%;
			// background: var(--color-accent-base);
		}
	}
}


#chat-form {
	.chatTokenImg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.45;
		overflow: hidden;
		transition: background-image 100ms;
		transition: opacity 100ms;
		padding: 5px;
		pointer-events: none;
		-webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 25%, black 75%);

		mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 25%, black 75%);

		img {
			object-fit: contain;
			max-height: 100%;
		}

		&.hide {
			opacity: 0;
		}
	}
}

.window-app {
	&.sheet {
		&.minimized {
			.clock-drawer {
				min-height: max-content;
				top: 0;
				padding: 0.1rem;

				&__header {
					span {
						display: none;
					}
				}
			}
		}
	}
}



@import "./partials/clock";
@import "./partials/clockconfig";
@import "./partials/clock-drawer";
@import "./partials/clock-display";

@import "./partials/party-overview";
@import "./partials/dice-pool";


#clockConfig,
.clockHud,
#clock-display,
.gradients {
	.reddish {
		background-image: linear-gradient(to right, #DC2424 0%, #4A569D 100%);

		&.mix {
			background-image: none;
			background: mix(#DC2424, #4776E6, 50%);
		}
	}

	.purple {
		background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 100%);

		&.mix {
			background-image: none;
			background: mix(#4776E6, #8E54E9, 50%);
		}
	}

	.bluePink {
		background-image: linear-gradient(62deg, rgb(21, 213, 235) 0.00%, rgb(255, 0, 191) 100.00%);

		&.mix {
			background-image: none;
			background: mix(rgb(21, 213, 235), rgb(255, 0, 191), 50%);
		}
	}

	.turquoise {
		background-image: linear-gradient(132deg, rgb(161, 255, 255) 0.00%, rgb(0, 216, 216) 100.00%);

		&.mix {
			background-image: none;
			background: mix(rgb(161, 255, 255), rgb(0, 216, 216), 50%);
		}
	}

	.pinkLemonade {
		background-image: linear-gradient(132deg, rgb(253, 112, 136) 0.00%, rgb(255, 211, 165) 100.00%);

		&.mix {
			background-image: none;
			background: mix(rgb(253, 112, 136), rgb(255, 211, 165), 50%);
		}
	}

	.fire {
		background-image: linear-gradient(132deg, rgb(250, 170, 0) 0.00%, rgb(237, 19, 19) 50.00%, rgb(213, 74, 255) 100.00%);

		&.mix {
			background-image: none;
			background: mix(rgb(250, 170, 0), rgb(237, 19, 110), 50%);
		}
	}

	.magic {
		background-image: linear-gradient(132deg, rgb(0, 255, 157) 0.00%, rgb(227, 43, 175) 100.00%);

		&.mix {
			background-image: none;
			background: mix(rgb(0, 255, 157), rgb(227, 43, 175), 50%);
		}
	}


	.pastel {
		background-image: linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 100.00%);

		&.mix {
			background-image: none;
			background: mix(rgb(255, 206, 236), rgb(151, 150, 240), 50%);
		}
	}
}