#tracker-app {

	width: 900px;
	height: 40vh;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.deleteModeWarning {
		color: red;
	}

	// hr{
	// 	border-top: 1px solid 
	// }

	.button-wrapper {
		display: flex;
		justify-content: space-evenly;
		padding: 0.5rem 0;
	}

	.tracker-title {
		padding: 0.5rem 1rem;
	}

	.btn {
		display: inline;
		width: 4rem !important;
		height: 4rem;
		border-style: none;
		border-radius: 10px;
		background: none;

		&:hover {
			cursor: pointer;
		}
	}

	.addItem {
		border: 2px solid #F90;
		color: #F90;
	}

	.addDivider {
		border: 2px solid #09F;
		color: #09F;
	}

	.addWaypoint {
		border: 2px solid cornflowerblue;
		color: cornflowerblue;
	}

	.addTracker {}

	.tracker {
		.lineWrapper {
			display: flex;
			justify-content: flex-end;
		}
	}

	.container {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		height: 9rem;
		background-color: #161a1d;

		.divider {
			background-color: antiquewhite;
		}

		.draggableItem {
			position: absolute;
			float: left;
			width: 4rem;
			height: 4rem;
			// background-color: #F90;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			&.draggableItem.is-pointer-down {
				background-color: #09F !important;
				z-index: 3;
			}

			&.delete-mode {
				&:hover {
					background-color: red;
				}
			}

			.itemLabel {
				position: absolute;
				z-index: 2;
				text-align: center;
				transform: translatey(-3rem);
				font-size: 1.25rem;
			}
		}

		.draggableWaypoint {
			position: absolute;
			height: 100%;
			width: 50px;
			display: flex;
			justify-content: flex-start;
			margin: auto 0;

			&.delete-mode {
				.handle:hover {
					background-color: red;
					opacity: 50%;
				}
			}

			&.draggableWaypoint.is-pointer-down {
				.handle {
					background-color: #09F !important;
					z-index: 3;
				}
			}

			.waypointLabel {
				z-index: 2;
				text-align: center;
				position: absolute;
				transform: translatey(-2rem);
				font-size: 1.25rem;
			}

			.line {
				width: 2px;
				height: 100%;
				position: absolute;
				border-left: 6px dotted cornflowerblue;
				left: 50%;
				margin-left: -3px;
			}

			.handle {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				left: 50%;
				transform: translate(-50%, -2rem);
				width: 4rem;
				height: 4rem;
				border-radius: 100%;
				background-color: cornflowerblue;
				z-index: 2;

			}

			.handleImg {
				height: 20px;
				width: 20px;
				border-style: none;
			}
		}


		.draggie {

			.dragImg {
				height: 20px;
				width: 20px;
				border-style: none;
			}

		}




	}
}

#tokenHud {
	.window-header {
		display: none;
	}

	display: flex;
	// position: absolute;
	// top: 300px;
	// left: 300px;
	width: fit-content !important;
	height: fit-content !important;
	// height: -mz-fit-content;
	overflow-y: visible;
	overflow-x: visible;
	background-color: transparent;
	box-shadow:none;

	.window-content {
		overflow-y: visible;
		overflow-x: visible;
		background-color: transparent;
	}

	.button-wrapper {
		display: flex;
		flex-direction: row;

		button {
			background-color: #09F;
		}
	}

	.combatAction {
		background-color: #e76f51;
		color: white;
		border-radius: 80px;
		width: fit-content;
		padding: 1rem;
		font-size: 2rem;
	}


	.hud-item-wrapper {
		// display: grid;
		// grid-template-columns: repeat(5, 1fr);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 50vw;



		.hud-item {
			flex: 0 0 auto;
			position: relative;
			height: max-content;

			* {
				overflow-y: visible;
				overflow-x: visible;
			}

			background: #161a1d;
			color: white;
			padding: 1rem;
			margin: 0.2rem;
			border-radius: 10px;
			// width: max-content;
			// height: max-content;

			&__title {
				font-size: 0.8rem;
			}

			&__description {
				position: absolute;
				background-color: rgba(66, 78, 87, 0.9);
				border: 2px solid white;
				padding: 1rem;
				border-radius: 10px;
				line-height: 1.5;
				display: none;
				width: max-content;
				z-index: 3;
				max-width: 50ch;
			}

			&__damage {
				color: #e76f51;
			}

			&:active {
				background: #424e57;
			}

			&:hover {
				background: #424e57;
				cursor: pointer;

				.hud-item__description {
					display: block;
				}
			}
		}
	}
}

#combatHud {
	width: fit-content;
	width: -moz-max-content !important;
	height: fit-content;
	height: -moz-max-content !important;
	// width: 252.375px;
	// height: 226px;
	bottom: 10px !important;
	left: 810px !important;
	top: inherit !important;

	opacity: 50%;

	&:hover {
		opacity: 100%;
	}

	h1,
	h2 {
		font-size: 1rem;
	}

	.window-header {
		display: none;
	}

	.combatant-wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		border-radius: 10px;
		box-shadow: rgb(0 0 0 / 45%) 1px 1px 19px 6px inset;
		overflow: hidden;
		background-color: #2c2e2f;



		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		.combatant-div {
			color: black;
			font-weight: bold;
			// border: 1px solid black;
			padding: 0.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: hsla(33, 100%, 53%, 1);
			background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
			background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
			background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
			box-shadow: rgb(50 50 93 / 58%) 0px 20px 100px -20px, rgb(0 0 0 / 54%) 0px 30px 60px -30px, rgb(33 60 95 / 79%) 0px -4px 12px 1px inset;

			&[data-phase="enemies"] {
				background: hsla(333, 100%, 53%, 1);
				background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
				background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
			}

			&[data-phase="slowPlayers"] {
				background: hsla(339, 100%, 55%, 1);
				background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
				background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
			}

			&[data-phase="fastPlayers"] {
				background: hsla(16, 100%, 76%, 1);
				background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
				background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
			}

			&[data-phase="npcAllies"] {
				background: hsla(152, 100%, 50%, 1);
				background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
				background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
				background: -webkit-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
			}

			img {
				width: 3rem;
				height: 3rem;
			}

			&.activated {
				backdrop-filter: grayscale(0.5);
				position: relative;

				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.25);
				}

				box-shadow: rgba(21, 21, 39, 0.705) 3px 3px 6px 0px inset,
				rgba(0, 9, 0, 0.5) -3px -3px 6px 1px inset;
			}


			&:hover {
				cursor: pointer;
				background-color: #09F;
			}
		}
	}

}