<section id="scene-display-bar" class="displayModeWrapper display-bar">
    <ul class="character-group">
        {{#each characters}}
			{{> "modules/hud-and-trackers/templates/inner-scene-display/partials/display-list-item.hbs" type="character"}}
        {{/each}}
    </ul>
    <ul class="scene-group">
        {{#each innerScenes}}
			{{> "modules/hud-and-trackers/templates/inner-scene-display/partials/display-list-item.hbs" type="innerScene"}}
        {{/each}}
    </ul>
</section>