<form>
    <div>
        <p>Please roll your all-in-one-roll.
            <br />
            Its results will be hidden until the Boons and Banes are applied.
            <br />
            When finished, click the "Add Boons and Banes" button</p>
        <h3>Utility Buttons</h3>
        <div class="secondaryAction">
            <button data-action="selectCharacter">Select My PC</button>
            <button data-action="swapCharacter">Swap Character</button>
            <button data-action="openSheet">Open PC Sheet</button>
            <button data-action="defaultAllInOne">Roll Default All-in-One</button>
        </div>
        <hr />
        <div class="primaryAction"><button
                data-action="addBnB"
                class="addBnB"
            >Finished</button></div>
        {{! <button></button> }}
    </div>
</form>