<form>
    <div class="instructions">
        {{! <h1>
                Roll All-in-One
            </h1> }}
        <div class="utilityAction">
            <p>Utility Buttons</p>
            <button class="btn-0" data-action="selectCharacter">
                <i class="fas fa-user"></i>
                Select My PC
                <span class="tooltip">
                    Select your current PC
                </span>
            </button>
            <button class="btn-2" data-action="openSheet">
                <i class="fas fa-external-link-alt"></i>
                Open PC Sheet
                <span class="tooltip">
                    Open your PC's
                    <br />
                    character sheet
                </span>
            </button>

        </div>
        <ol>
            <li>
                Roll your all-in-one-roll first.
                <div class="secondaryAction">
                    <button class="btn-3" data-action="defaultAllInOne">
                        <i class="fas fa-dice-d20"></i>
                        Default
                        {{! <br /> }}
                        All-in-One
                        <span class="tooltip">
                            Bring up the All-in-One Roll Dialog
                        </span>
                    </button>
                </div>
                It's results will be hidden until the Boons and Banes are applied.
            </li>
            <hr />
            <li>
                Click the "Add Boons and Banes" button
                <div class="secondaryAction">
                    <button data-action="addBnB" class="addBnB">
                        <i class="fas fa-dice"></i>
                        Add Boons and Banes
                        <span class="tooltip">
                            Make sure to roll your All-in-One roll first!
                        </span>
                    </button>
                </div>
            </li>
        </ol>
    </div>

</form>
