<form action="#">
  <div class="diceDiv">
    <h2>
      Total Dice Roll
    </h2>
    <input
      type="text"
      class="rollValue"
      value="{{data.boonNumber}}d6 - {{data.baneNumber}}d6"
      disabled
    />
  </div>
  <div class="boonDiv">
    <h2>
      Add Boon From
    </h2>
    <div class="boonButtons">
      <div class="wrapper">
        <button name="approach" data-number="0">
          <i class="fas fa-tired"></i>
          Approach
        </button>
      </div>
      <div class="wrapper">
        <button name="bonds" data-number="0">
          <i class="fas fa-user-friends"></i>
          Bonds
        </button>
      </div>
      <div class="wrapper">
        <button name="conditions" data-number="0">
          <i class="fas fa-fire"></i>
          Conditions
        </button>
      </div>
      <div class="wrapper">
        <button name="tools" data-number="0">
          <i class="fas fa-wrench"></i>
          Tools
        </button>
      </div>
      <div class="wrapper">
        <button name="environment" data-number="0">
          <i class="fas fa-tree"></i>
          Environment
        </button>
      </div>
    </div>
  </div>
  <div class="baneDiv">
    <h2>
      Add Bane From
    </h2>
    <div class="baneButtons">
      <div class="wrapper">
        <button name="approach" data-number="0">
          <i class="fas fa-tired"></i>
          Approach
        </button>
      </div>
      <div class="wrapper">
        <button name="bonds" data-number="0">
          <i class="fas fa-user-friends"></i>
          Bonds
        </button>
      </div>
      <div class="wrapper">
        <button name="conditions" data-number="0">
          <i class="fas fa-fire"></i>
          Conditions
        </button>
      </div>
      <div class="wrapper">
        <button name="tools" data-number="0">
          <i class="fas fa-wrench"></i>
          Tools
        </button>
      </div>
      <div class="wrapper">
        <button name="environment" data-number="0">
          <i class="fas fa-tree"></i>
          Environment
        </button>
      </div>
    </div>
  </div>
  <div class="footerButtonWrapper">
    <button class="rollBnBButtons" data-action="roll">
      <i class="fas fa-dice"></i>
      Roll Boons and Banes
    </button>
  </div>
</form>